/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Bootstrap Icons CSS file. */
@import "./node_modules/bootstrap-icons/font/bootstrap-icons";


html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: arial, helvetica, verdana, sans-serif;
    //font-size: 0.75rem; //12px
    // background-color: #f5f7fb
}

.cursor-pointer {
    cursor: pointer;
}

.table-group-divider {
    border-top-color: #ddd;
}

/* Used by manage data module */
.manage-data-table-container {
    /* Adjust the height as needed */
    height: calc(100vh - 430px);
    overflow-y: auto;
}

.manage-data-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;

    /* or your preferred background color */
    /*background-color: white; */

    /* Optional: adds a shadow for better separation */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}