/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Bootstrap Icons CSS file. */
@import "./node_modules/bootstrap-icons/font/bootstrap-icons";


html,
body {
    height: 100%;
}

body {
    margin: 0;
    //font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: arial, helvetica, verdana, sans-serif;
    //font-size: 0.75rem; //12px
    // background-color: #f5f7fb
}

.app-cursor-pointer {
    cursor: pointer;
}

// TODO. Deprecate in favour of app-cursor-pointer
.cursor-pointer {
    cursor: pointer;
}

.app-table-container {
    height: 60vh; // This should be overwritten depending on the component number of controls
    overflow-y: auto;
}

.app-table-container table thead {
    position: sticky;
    top: 0;
    z-index: 1;

    /* or your preferred background color */
    /*background-color: white; */

    /* Optional: adds a shadow for better separation */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */
}

.app-table-container table tbody {
    border-top-color: #ddd;
}

.app-value-flag-container {
    max-width: 6.875rem; // 110px
    //max-width: 120px; // 120px 
    font-size: 12px;
}