<table *ngIf="controlsDefinitions" class="table table-sm table-striped">

    <thead>
        <tr>
            <th>Days</th>
            <th *ngFor="let col of colFieldDefinitions">{{col.name}}</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">

        <tr *ngFor="let row of rowFieldDefinitions">
            <td>{{row.name}}</td>
            <td *ngFor="let col of colFieldDefinitions">
                <div>
                    <app-value-flag-input [elements]="elements" [flags]="flags"
                        [controlDefinition]="getControlDefinition(row,col)"
                        (valueChange)="onValueChange($event)"></app-value-flag-input>
                </div>

            </td>
        </tr>

    </tbody>



</table>