<!-- Side Navigation -->
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <!-- Side Navigation Content -->
      side nav
    </div>
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- Toolbar Content -->
        nav bar
      </nav>
      <div class="container-fluid">
        <!-- Content Page -->
        content page
      </div>
    </div>
  </div>