<app-dialog  [(open)]="open" [title]="'Select Form'" [okButtonLabel]="okButtonLabel" (closed)="closeDialog($event)">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let form of forms" (click)="onFormClicked(form)" class="cursor-pointer">
                <td>{{ form.id }}</td>
                <td>{{ form.name }}</td>
                <td>{{ form.description }}</td>
                <td><input type="checkbox" class="form-check-input" [checked]="form.selected"></td>
            </tr>
        </tbody>
    </table>

</app-dialog>