<div class="container-fluid h-100 p-1">

  <div class="row d-flex justify-content-between align-items-center mb-2">
    <div class="col">
      <h4 class="fw-normal component-h1">Form Metadata</h4>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <!--form name -->
      <div class="mb-3">
        <app-text-input [controlLabel]="'Name'" [(value)]="formName">
        </app-text-input>
      </div>
      <!--------->

      <!--form description -->
      <div class="mb-3">
        <app-text-input [controlLabel]="'Description'" [(value)]="formDescription">
        </app-text-input>
      </div>
      <!--------->

      <!--entry selectors-->
      <div class="mb-3">
        <app-selector-input [controlLabel]="'Selectors (Minimum 3 and maximum 4)'" [multiple]="true" [simple]="true"
          [simpleDataSource]="possibleSelectors" [simpleValue]="selectedSelectors"
          (simpleValueChange)="onSelectorsSelected($event)"></app-selector-input>
      </div>
      <!--------->

      <!--entry fields-->
      <div class="mb-3">
        <app-selector-input [controlLabel]="'Fields (Minimum 1 and maximum 2)'" [multiple]="true" [simple]="true"
          [simpleDataSource]="possibleFields" [simpleValue]="selectedFields"
          (simpleValueChange)="onFieldsSelected($event)"></app-selector-input>
      </div>
      <!--------->

      <!--entry control -->
      <div class="mb-3">
        <app-text-input [controlLabel]="'Layout'" [disabled]="true" [value]="selectedLayout">
        </app-text-input>
      </div>
      <!--------->

      <!--elements-->
      <div class="mb-3">
        <app-element-input [controlLabel]="'Elements'" [multiple]="true"
          [(value)]="selectedElements" ></app-element-input>
      </div>
      <!--------->

      <!--hours-->
      <div class="mb-3">
        <app-hour-input [controlLabel]="'Hours'" [multiple]="true" [(value)]="selectedHours"></app-hour-input>
      </div>
      <!--------->


      <!-- todo. link the error to individual controls and possibly use bootstrap alert component-->
      <div class="mb-3" style="color: red;">
        {{ errorMessage }}
      </div>

      <div class="d-flex flex-row justify-content-end">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
          Save
        </button>
        <button *ngIf="source && source.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger" (click)="onDelete()">
          Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
          Cancel
        </button>


      </div>

    </div>

  </div>