<div class="card border-0">

    <app-query-selection [parentComponentName]="componentName" [enableQueryButton]="enableQueryButton"
        [inputFilter]="queryFilter" (queryClick)="onQueryClick($event)" />

    <div class="card border-0 p-0 mt-2">
        <div class="card-header d-flex justify-content-between px-0 py-1 align-items-center">
            <div class="fw-bold ms-1">Showing Entries</div>
            <div *ngIf="pageInputDefinition.totalRowCount" class="d-flex">
                <app-drop-down-button [buttonText]="'More Options'" [dropDownItems]="['Stack/Unstack','Delete All']"
                    (dropDownOptionClick)="onOptionsSelected($event)" [offSetRight]="false" />
                <div class="vr mx-2"></div>
                <app-page-input [pageInputDefinition]="pageInputDefinition" (pageInputDefinitionChange)="loadData()" />
                <div *ngIf="numOfChanges" class="d-flex align-items-center">
                    <div class="vr mx-2"></div>
                    <div class=" text-success me-2">Total Changes: {{numOfChanges}}</div>
                </div>
            </div>
        </div>

        <div class="card-body p-0 ">
            <div *ngIf="useUnstackedViewer">
                <app-unstacked-data-viewer [observationsEntries]="observationsEntries"
                    (valueChange)="onUserInput()" />
            </div>
            <div *ngIf="!useUnstackedViewer">
                <app-stacked-data-viewer [pageInputDefinition]="pageInputDefinition"
                    [observationsEntries]="observationsEntries" (valueChange)="onUserInput()"  />
            </div>
        </div>

        <div class="card-footer bg-transparent d-flex justify-content-end px-0">
            <button type="button" class="btn btn-sm btn-outline-primary me-2" [disabled]="!enableSaveButton"
                (click)="onSave()">
                Submit
            </button>
        </div>
    </div>

</div>