<div class="card border-0">
    <div class="card-body p-0">
        <app-query-selection [parentComponentName]="componentName" [enableQueryButton]="enableQueryButton"
            [displayHourSelector]="true" [inputFilter]="queryFilter" (queryClick)="onQueryClick($event)" />

        <app-data-corrector [queryFilter]="queryFilter" [submitChanges]="submitChanges"
            (loadingInProgress)="onLoadingObservations($event)" (userChanges)="onUserChanges($event)" />
    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="btn btn-sm btn-outline-primary me-2" [disabled]="!enableSaveButton"
            (click)="onSubmitChanges()">
            Submit
        </button>
    </div>
</div>