<app-dialog [(open)]="open" [title]="'Search Stations'" [okButtonLabel]="'Ok'" (okClick)="onOkClick()">
    <div *ngIf="open" class="card border-0">

        <!-- tab header -->
        <div class="card-header d-flex">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button class="nav-link" [class.active]="activeTab === 'history'"
                        (click)="onTabChange('history')">History</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" [class.active]="activeTab === 'new'"
                        (click)="onTabChange('new')">New</button>
                </li>
            </ul>
        </div>

        <!-- selected tab contents -->
        <div class="card-body p-0">
            <div class="d-flex align-items-center">
                <div *ngIf="activeTab === 'history'" class="d-flex align-items-center">
                    <div *ngIf="!previousSearches || previousSearches.length===0" class="mt-2">
                        No saved searches
                    </div>
                    <div *ngIf="previousSearches && previousSearches.length>0">
                        <ul class="list-group rounded-0 list-group-flush p-0 search-contents">
                            <li class="list-group-item list-group-item-action px-0 d-flex justify-content-between cursor-pointer"
                                *ngFor="let item of previousSearches"
                                [class.list-group-item-primary]="item.name === searchName"
                                (click)="onPreviousSearchSelected(item)">

                                <div class="me-2 d-flex">
                                    <div class="me-1">
                                        <i class="bi bi-cursor"></i>
                                    </div>
                                    <div>
                                        {{ item.name }}
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <button type="button" class="btn btn-outline-secondary btn-sm me-2"
                                        (click)="onEditPreviousSearch(item)">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm"
                                        (click)="onDeletePreviousSearch(item)">
                                        Delete
                                    </button>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div>
                <div *ngIf="activeTab === 'new'">
                    <div class="mt-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <app-radio-buttons-input [inline]="true" [asButtons]="true"
                                    [groupName]="'searchOptions'" [groupItems]="[ 
                                    { label:'Id or Name',checked: searchBy === 'Id or Name'}, 
                                    { label:'Region', checked : searchBy === 'Region'},
                                    { label:'Organisation', checked : searchBy === 'Organisation'},
                                    { label:'Network Affiliation', checked : searchBy === 'Network Affiliation'},
                                    { label:'Status', checked : searchBy === 'Status'},
                                    { label:'Processing', checked : searchBy === 'Processing'},
                                    { label:'Environment', checked : searchBy === 'Environment'},
                                    { label:'Focus', checked : searchBy === 'Focus'},
                                    ]" (checkedValueChange)="onSearchOptionChange($event)" />
                            </div>
                        </div>

                        <div>
                            <div class="flex-grow-1">
                                <app-text-input [id]="'station_search_input'" [placeholder]="'Search'"
                                    (valueChange)="onSearchInput($event)" />
                            </div>
                        </div>
                        <hr />

                        <div>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="me-2">
                                    [{{ searchedIds.length| number:'1.0-0' }}]
                                </div>
                                <div>
                                    <app-drop-down-button [offSetRight]="false" [buttonText]="'Options'"
                                        [dropDownItems]="['Select All', 'Deselect All', 'Sort Selected']"
                                        (dropDownOptionClick)="onOptionClick($event)" />

                                </div>
                            </div>

                            <div>
                                <div *ngIf="searchBy ==='Id or Name'">
                                    <app-station-id-name-search [stations]="stations" [searchedIds]="searchedIds"
                                        [searchValue]="searchValue" [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Region'">
                                    <app-station-regions-search [stations]="stations" [searchValue]="searchValue"
                                        [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Organisation'">
                                    <app-station-organisations-search [stations]="stations" [searchValue]="searchValue"
                                        [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Network Affiliation'">
                                    <app-station-network-affiliations-search [stations]="stations"
                                        [searchValue]="searchValue" [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Status'">
                                    <app-station-status-search [stations]="stations" [searchValue]="searchValue"
                                        [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Processing'">
                                    <app-station-processing-method-search [stations]="stations"
                                        [searchValue]="searchValue" [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Environment'">
                                    <app-station-environments-search [stations]="stations" [searchValue]="searchValue"
                                        [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                                <div *ngIf="searchBy === 'Focus'">
                                    <app-station-focuses-search [stations]="stations" [searchValue]="searchValue"
                                        [selectionOption]="selectionOption"
                                        (searchedIdsChange)="setSearchedIds($event)" />
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div>
                            <app-check-box-input [id]="'save_station_search'" [label]="'Save Search'"
                                [(value)]="saveSearch" />
                            <div *ngIf="saveSearch" class="ms-2">
                                <app-text-input [id]="'station_search_save'" [(value)]="searchName" />
                            </div>
                        </div>

                    </div>
                </div> 

                <div *ngIf="largeScreen" class="ms-1" style="min-width: 430px;">
                    <app-view-stations-geo-map [mapHeight]="'430px'" [displayStats]="false"
                        [stations]="searchedStations" />
                </div>
            </div>


        </div>

    </div>

</app-dialog>