<div>
    <div *ngIf="userCanEditStation" class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-secondary me-1"
            (click)="dlgNetworkEdit.openDialog( formIds)">Edit</button>
        <app-network-affiliation-selector-dialog #dlgNetworkEdit [okButtonLabel]="'Save'" (ok)="onNetworkAffiliationsEdited($event)" />
    </div>

    <div class="px-3">
        <app-table-view [columnsData]="[  {id: 'name', name: 'Name'}, {id: 'description', name: 'Description'}  ]"
            [rowsData]="networkAffiliations" />
    </div>
</div>