<div class="navigation-controls">
  <button mat-icon-button [disabled]="disableFirstButton">
    <mat-icon mat-flat-button>first_page</mat-icon>
  </button>
  <button mat-icon-button [disabled]="disablePreviousButton">
    <mat-icon mat-flat-button>chevron_left</mat-icon>
  </button>
  <span class="navigation-label">{{ navigationLabel }}</span>
  <button mat-icon-button [disabled]="disableNextButton">
    <mat-icon mat-flat-button>chevron_right</mat-icon>
  </button>
  <button mat-icon-button [disabled]="disableLastButton">
    <mat-icon mat-flat-button>last_page</mat-icon>
  </button>
</div>
