<div class="card border-0">
  <div class="card-header d-flex justify-content-between px-1 py-0 align-items-center">
    <div class="fw-bold">Showing Stations</div>
    <div *ngIf="stationsDef.pageInputDefinition.totalRowCount" class="d-flex">
      <app-page-input [pageInputDefinition]="stationsDef.pageInputDefinition"
        (pageInputDefinitionChange)="loadEntries()" />
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view [clickable]="true" [page]="stationsDef.pageInputDefinition.page"
      [pageSize]="stationsDef.pageInputDefinition.pageSize" [columnsData]="[ 
      {id: 'id', name: 'Id'},
      {id: 'name', name: 'Name'},
      {id: 'stationObsProcessingMethodName', name: 'Method'},
      {id: 'stationObsEnvironmentName', name: 'Environment'},
      {id: 'stationObsFocusName', name: 'Focus'} ]" [rowsData]="stationsDef.stations"
      (rowDataClicked)="onEditStation($event)" />
  </div>
</div>