<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">

    <div class="d-flex align-items-center">
      <div *ngIf="sources" class="d-flex mx-2">
        Count: {{ sources.length | number:'1.0-0' }}
      </div>
      <!-- <button type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="onSearch()">
        Search
      </button> -->
      <div>
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="['Add Form Source','Add Import Source', 'Delete All']"
        (dropDownOptionClick)="onOptionsClicked($event)" [translateX]="true" />
      </div>
    </div>
  </div>

  <div *ngIf="sources" class="card-body px-0">
    <app-table-view [clickable]="true"
      [columnsData]="[ {id: 'name', name: 'Name'} , {id: 'sourceType', name: 'Type'}, {id: 'description', name: 'Description'} ]"
      [rowsData]="sources" (rowDataClicked)="onEditSource($event)" />
  </div>
</div>