<div *ngIf="scheduler">

    <div class="mb-4">
        <h6 class="fw-bold">Job Queue Cleanup</h6>
        <div class="mb-2">
            <app-cron-input [label]="'Schedule'" [labelSuperScript]="'cron expression'"
                [(value)]="scheduler.jobQueueCleanup.cronSchedule" />
        </div>
        <div class="mb-2">
            <app-number-input [label]="'Days Old'" [(numValue)]="scheduler.jobQueueCleanup.daysOld" [min]="1" />
        </div>
    </div>

    <div class="mb-4">
        <h6 class="fw-bold">Connector Log Cleanup</h6>
        <div class="mb-2">
            <app-cron-input [label]="'Schedule'" [labelSuperScript]="'cron expression'"
                [(value)]="scheduler.connectorLogCleanup.cronSchedule" />
        </div>
        <div class="mb-2">
            <app-number-input [label]="'Days Old'" [(numValue)]="scheduler.connectorLogCleanup.daysOld" [min]="1" />
        </div>
    </div>

    <div class="mb-4">
        <h6 class="fw-bold">File Cleanup</h6>
        <div class="mb-2">
            <app-cron-input [label]="'Schedule'" [labelSuperScript]="'cron expression'"
                [(value)]="scheduler.fileCleanup.cronSchedule" />
        </div>
        <div class="mb-2">
            <app-number-input [label]="'Days Old'" [(numValue)]="scheduler.fileCleanup.daysOld" [min]="1" />
        </div>
    </div>

</div>