<div class="card border-0">
  <div class="card-header d-flex justify-content-between px-1 py-0  align-items-center">
    <div class="fw-bold">Showing Regions</div>
    <div *ngIf="regionsDef.pageInputDefinition.totalRowCount" class="d-flex">
      <app-page-input [pageInputDefinition]="regionsDef.pageInputDefinition" (pageInputDefinitionChange)="loadEntries()" />
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view [clickable]="true" [showRowNum]="true" [page]="regionsDef.pageInputDefinition.page"
      [pageSize]="regionsDef.pageInputDefinition.pageSize"
      [columnsData]="[ {id: 'name', name: 'Name'} , {id: 'regionType', name: 'Type'}, {id: 'description', name: 'Description'} ]"
      [rowsData]="regionsDef.regions" />
  </div>
</div>