<div class="card border-0 p-0">
    <div *ngIf="displayQueryButton" class="card-header mb-2 px-1 fw-bold">
        <app-toggle-chevron #queryContainerToggle [(open)]="displayFilterControls">Filter</app-toggle-chevron>
    </div>
    <div *ngIf="displayFilterControls" class="card-body p-0 mt-2">
        <div class="d-flex justify-content-between align-items-end">
            <div class="row g-2 px-2">
                <div *ngIf="displayStationSelector" class="col-auto mb-2">
                    <app-station-selector-multiple [label]="'Stations'" [(selectedIds)]="stationIds"
                        [includeOnlyIds]="includeOnlyStationIds" (selectedIdsChange)="onValueChanged()" />
                </div>

                <div *ngIf="displayElementSelector" class="col-auto mb-2">
                    <app-element-selector-multiple [label]="'Elements'" [(selectedIds)]="elementIds"
                        (selectedIds)="onValueChanged()" />
                </div>

                <div *ngIf="displayLevelSelector" class="col-auto mb-2">
                    <app-number-input [label]="'Level'" [(value)]="level" (valueChange)="onValueChanged()" />
                </div>

                <div *ngIf="displayIntervalSelector" class="col-auto mb-2">
                    <app-interval-selector-multiple [label]="'Interval'" [(selectedIds)]="intervals"
                        (selectedIdsChange)="onValueChanged()" />
                </div>

                <div *ngIf="displaySourceSelector" class="col-auto mb-2">
                    <app-source-selector-multiple [label]="'Sources'" [(selectedIds)]="sourceIds"
                        (selectedIdsChange)="onValueChanged()" />
                </div>

                <div *ngIf="displayObservationDateSelector ||  displayEntryDateSelector" class="col-auto mb-2">
                    <div *ngIf="displayObservationDateSelector && displayEntryDateSelector" class="row">
                        <div class="col-auto">
                            <app-radio-buttons-input [inline]="true" [asButtons]="false" [groupName]="'filter_dates'"
                                [groupItems]="[{ label:'Observation Date', checked:  true},{ label:'Entry Date'}]"
                                (checkedValueChange)="onDateToUseSelection($event)" />
                        </div>
                    </div>

                    <div class="row">
                        <app-date-range-input [id]="'observation_or_entry_date'" [(value)]="dateRange"
                            (valueChange)="onValueChanged()" />
                    </div>

                </div>
            </div>

            <div *ngIf="displayQueryButton">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                    [disabled]=" !queryAllowed || !enableQueryButton " (click)="onQueryClick()">
                    Query
                </button>
            </div>
        </div>
    </div>
</div>