<div class="card border-0">
    <div class="card-body px-0">
        <div class="card-title fw-bold d-flex justify-content-between">
            Observations from Different Sources
        </div>

        <div class="card border-0">
            <app-query-selection [displaySourceSelector]="false" [parentComponentName]="componentName"
                [includeDeletedData]="false" [enableQueryButton]="enableQueryButton"
                (queryClick)="onQueryClick($event)" />

            <div class="card border-0 p-0 mt-2">
                <div class="card-header d-flex justify-content-between px-0 py-1 align-items-center">
                    <div class="fw-bold ms-1">Showing Entries</div>
                    <div *ngIf="pageInputDefinition.totalRowCount" class="d-flex">
                        <app-page-input [pageInputDefinition]="pageInputDefinition"
                            (pageInputDefinitionChange)="loadData()" />
                        <div *ngIf="sumOfDuplicates" class="d-flex align-items-center">
                            <div class="vr mx-2"></div>
                            <div class="me-2">Total Duplicates: {{sumOfDuplicates | number:'1.0-0' }}</div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0 mt-2">
                    <div class="entry-table-container">
                        <table class="table table-striped table-sm manage-data-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Station</th>
                                    <th>Element</th>
                                    <th>Level</th>
                                    <th>Date Time</th>
                                    <th>Interval</th>
                                    <th>Duplicates</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider overflow-y-scroll">

                                <tr *ngFor="let obsEntry of observationsEntries; let i = index;">
                                    <td>{{i + 1}}</td>
                                    <td> {{ obsEntry.stationName }}</td>
                                    <td>{{ obsEntry.elementAbbrv}}</td>
                                    <td>{{ obsEntry.level }}</td>
                                    <td>{{ obsEntry.formattedDatetime}}</td>
                                    <td>{{ obsEntry.intervalName}}</td>
                                    <td>{{ obsEntry.duplicates}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>