<div>
    <app-radio-buttons-input [inline]="true" [groupName]="'elementStatus'"
        [groupItems]="[{ label:'Includes Elements'}, { label:'Does Not Include Elements'}]"
        (checkedValueChange)="onElementStatusSelection($event)" />

    <!--includes elements-->
    <div *ngIf="elementAndValueDefinition.hasElement">

        <app-radio-buttons-input [inline]="true" [groupName]="'hasElementSelection'"
            [groupItems]="[{ label:'Single Column'}, { label:'Multiple Column'}]"
            (checkedValueChange)="onHasElementSelection($event)" />


        <!--single column elements-->
        <div *ngIf="elementAndValueDefinition.hasElement.singleColumn" class="ms-4">
            <div>
                <app-number-input [label]="'Element Column Position'"
                    [(value)]="elementAndValueDefinition.hasElement.singleColumn.elementColumnPosition" />

                <div>
                    <app-check-box-input [label]="'Fetch Specific Elements'"
                        (valueChange)="onSingleFetchElementsChange($event)" />

                    <table *ngIf="elementAndValueDefinition.hasElement.singleColumn.elementsToFetch"
                        class="table table-sm w-50 ms-4">
                        <thead>
                            <tr>
                                <th>Source ID</th>
                                <th>Database ID</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr
                                *ngFor="let item of elementAndValueDefinition.hasElement.singleColumn.elementsToFetch; let i = index">
                                <td>
                                    <app-text-input [id]="i + 'source_element_id'" [(value)]="item.sourceId" />
                                </td>
                                <td>
                                    <app-element-single-input [id]="i + 'database_element_id'"
                                        [(selectedId)]="item.databaseId"
                                        (selectedIdChange)="onSingleElementsToFetchDatabaseIdEntry(i)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <app-number-input [label]="'Value Column Position'"
                [value]="elementAndValueDefinition.hasElement.singleColumn.valueColumnPosition" />

            <div>
                <app-check-box-input [label]="'Includes Flag'" (valueChange)="onSingleElementIncludesFlag($event)" />
                <div *ngIf="elementAndValueDefinition.hasElement.singleColumn.flagColumnPosition !== undefined">
                    <app-number-input [label]="'Column Position'"
                        [(value)]="elementAndValueDefinition.hasElement.singleColumn.flagColumnPosition" />

                </div>
            </div>


        </div>

        <!--multiple column elements-->
        <table *ngIf="elementAndValueDefinition.hasElement.multipleColumn" class="table table-sm w-50 ms-4">
            <thead>
                <tr>
                    <th>Column Position</th>
                    <th>Database ID</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of elementAndValueDefinition.hasElement.multipleColumn; let i = index;">
                    <td>
                        <app-number-input [id]="i + 'multiple_element_column_position'"
                            [(value)]="item.columnPosition" />
                    </td>
                    <td>
                        <app-element-single-input [id]="i + 'multiple_database_element_id'"
                            [(selectedId)]="item.databaseId"
                            (selectedIdChange)="onMultipleElementsDatabaseIdEntry(i)" />
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <!--------->

    <div *ngIf="elementAndValueDefinition.noElement" class="ms-4">

        <app-element-single-input [label]="'Element:'"
            [(selectedId)]="elementAndValueDefinition.noElement.databaseId" />

        <app-number-input [label]="'Value Column Position'"
            [(value)]="elementAndValueDefinition.noElement.valueColumnPosition" />

        <div>
            <app-check-box-input [label]="'Includes Flag'"
                [value]="elementAndValueDefinition.noElement.flagColumnPosition  !== undefined"
                (valueChange)="onNoElementIncludesFlag($event)" />
            <div *ngIf="elementAndValueDefinition.noElement.flagColumnPosition !== undefined">
                <app-number-input [label]="'Column Position'"
                    [(value)]="elementAndValueDefinition.noElement.flagColumnPosition" />

            </div>
        </div>

    </div>
</div>