<div>
    <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'elementStatus'" [groupItems]="[
            { label:'Includes Elements', checked:  elementAndValueDefinition.hasElement !== undefined}, 
            { label:'Does Not Include Elements', checked: elementAndValueDefinition.noElement !== undefined}]"
        (checkedValueChange)="onElementStatusSelection($event)" />

    <div class="ms-4 mt-3">
        <!--includes elements-->
        <div *ngIf="elementAndValueDefinition.hasElement">

            <app-radio-buttons-input [inline]="true" [groupName]="'hasElementSelection'"
                [groupItems]="[
                { label:'In Single Column', checked: elementAndValueDefinition.hasElement.singleColumn  !== undefined}, 
                { label:'In Multiple Columns', checked: elementAndValueDefinition.hasElement.multipleColumn  !== undefined}]" (checkedValueChange)="onElementColumnsSelection($event)" />


            <!--single column elements-->
            <div *ngIf="elementAndValueDefinition.hasElement.singleColumn" class="ms-4">
                <div class="mt-2">
                    <app-number-input [label]="'Elements Column Position'"
                        [(value)]="elementAndValueDefinition.hasElement.singleColumn.elementColumnPosition" />

                    <div class="mt-2">
                        <app-check-box-input [label]="'Fetch Specific Elements'"
                            [value]="elementAndValueDefinition.hasElement.singleColumn.elementsToFetch !== undefined"
                            (valueChange)="onSingleFetchElementsChange($event)" />

                        <table *ngIf="elementAndValueDefinition.hasElement.singleColumn.elementsToFetch"
                            class="table table-sm ms-2">
                            <thead>
                                <tr>
                                    <th>Source ID</th>
                                    <th>Database ID</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let item of elementToFetchsHolder; let i = index">
                                    <td>
                                        <app-text-input [id]="i + '_source_element_id'" [(value)]="item.sourceId"
                                            (valueChange)="onSingleElementsToFetchEntry()" />
                                    </td>
                                    <td>
                                        <app-element-single-input [id]="i + '_database_element_id'"
                                            [(selectedId)]="item.databaseId"
                                            (selectedIdChange)="onSingleElementsToFetchEntry()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mt-2">
                    <app-number-input [label]="'Values Column Position'"
                        [(value)]="elementAndValueDefinition.hasElement.singleColumn.valueColumnPosition" />
                </div>

                <div class="mt-2">
                    <app-import-source-flag-detail
                        [(flagDefinition)]="elementAndValueDefinition.hasElement.singleColumn.flagDefinition" />
                </div>


            </div>

            <!--multiple column elements-->
            <table *ngIf="elementAndValueDefinition.hasElement.multipleColumn" class="table table-sm ms-2">
                <thead>
                    <tr>
                        <th>Column Position</th>
                        <th>Database ID</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let item of elementColumnsHolder; let i = index;">
                        <td>
                            <app-number-input [id]="i + 'multiple_element_column_position'"
                                [(value)]="item.columnPosition" />
                        </td>
                        <td>
                            <app-element-single-input [id]="i + '_multiple_database_element_id'"
                                [(selectedId)]="item.databaseId" (selectedIdChange)="onMultipleElementsEntry()" />
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <!--------->

        <!-- no elements -->
        <div *ngIf="elementAndValueDefinition.noElement" class="ms-4">
            <div class="mt-2">
                <app-element-single-input [label]="'Element:'"
                    [(selectedId)]="elementAndValueDefinition.noElement.databaseId" />
            </div>
            <div class="mt-2">
                <app-number-input [label]="'Value Column Position'"
                    [(value)]="elementAndValueDefinition.noElement.valueColumnPosition" />
            </div>
            <div class="mt-2">
                <app-import-source-flag-detail [flagDefinition]="elementAndValueDefinition.noElement.flagDefinition" />
            </div>
        </div>
    </div>


</div>