<app-dialog [(open)]="open" [title]="(isCurrentlyDisabled ? 'Enable '  : 'Disable ') + itemType "
    [firstButtonOptions]="{label: 'Yes', color: 'primary', closeDialogOnClick: true}"
    (firstButtonClick)="onToggleConfirm()"
    [secondButtonOptions]="{label: 'No', color: 'secondary', closeDialogOnClick: true}">
    <div>
        <p>Are you sure you want to {{ isCurrentlyDisabled ? 'enable' : 'disable' }} the {{ itemType }} "{{itemName}}" </p>
        <div *ngIf="!isCurrentlyDisabled" class="alert alert-warning">
            <i class="bi bi-info-circle me-1"></i>
            <strong>Note:</strong> Disabling this {{ itemType }} will stop its {{ operationType }} operations.
        </div>
        <div *ngIf="isCurrentlyDisabled" class="alert alert-info">
            <i class="bi bi-info-circle me-1"></i>
            <strong>Note:</strong> Enabling this {{ itemType }} will resume its {{ operationType }} operations.
        </div>
    </div>
</app-dialog>
