<div class="card border-0">
  <div class="card-header d-flex justify-content-between p-0 align-items-center">
    <div class="fw-bold">Showing Entry Forms</div>
    <div class="mb-1">
      <button type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="onNewForm()">
        Search
      </button>
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view
      [columnsData]="[ {id: 'id', name: 'Id'}, {id: 'name', name: 'Name'} , {id: 'description', name: 'Description'} ]"
      [rowsData]="sources" (rowDataClicked)="onFormClicked($event)"></app-table-view>
  </div>
</div>

<!-- <app-data-list-view [numbered]="true" [dataSource]="sources" [headerMembers]="['name']"
    [bodyMembers]="['description']" [actions]="[
    {
      actionName: 'Edit',
      actionCssClassName: 'btn-outline-primary',
      actionIconCssClassName: 'bi-pen'
    },
    {
      actionName: 'Delete',
      actionCssClassName: 'btn-outline-danger',
      actionIconCssClassName: 'bi-trash'
    }
  ]" (dataActionClicked)="onFormClicked($event)"></app-data-list-view> -->