<div class="container-fluid h-100 p-1">

  <div class="row d-flex justify-content-between align-items-center mb-3">
    <div class="col">
      <h4 class="fw-normal component-h1">Entry Forms Metadata</h4>
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-primary btn-sm" (click)="onNewForm()">
        New Form
      </button>
    </div>
  </div>

  <!-- <app-data-list-view [numbered]="true" [dataSource]="sources" [headerMembers]="['name']"
    [bodyMembers]="['description']" [actions]="[
    {
      actionName: 'Edit',
      actionCssClassName: 'btn-outline-primary',
      actionIconCssClassName: 'bi-pen'
    },
    {
      actionName: 'Delete',
      actionCssClassName: 'btn-outline-danger',
      actionIconCssClassName: 'bi-trash'
    }
  ]" (dataActionClicked)="onFormClicked($event)"></app-data-list-view> -->

  <div class="card" >
    <div class="card-body">
      <div class="card-title">Data entry forms</div>
      <app-table-view  [columnData]="[ {id: 'id', name: 'Id'}, {id: 'name', name: 'Name'} , {id: 'description', name: 'Description'} ]"   [rowData]="sources" (rowDataClicked)="onFormClicked($event)"></app-table-view>
    </div>
  </div>

</div>