.mat-card-header{
    justify-content: space-between;
  }
  
  .mat-card-header a{
    height: fit-content;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell{
    font-weight: 600;
    font-size: 1rem;
  }
  
  .mat-row:hover {
    /* cursor: pointer;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent; */
    cursor: pointer;
  }
  

  
  