<div class="card border-0">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'station-activity'"
          (click)="onTabClick('station-activity')">
          Stations Activity
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'data-flow'" (click)="onTabClick('data-flow')">
          Data Flow
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'data-explorer'" (click)="onTabClick('data-explorer')">
          Data Explorer
        </button>
      </li>
    </ul>
  </div>

  <div class="card-body p-0 mt-2">
    <app-stations-monitoring *ngIf="activeTab === 'station-activity'" />
    <app-data-flow *ngIf="activeTab === 'data-flow'" />
    <app-data-explorer *ngIf="activeTab === 'data-explorer'" />
  </div>

</div>