<div class="card border-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'station-activity'"
          (click)="onTabClick('station-activity')">
          Stations Activity
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'data-flow'" (click)="onTabClick('data-flow')">
          Data Flow
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'data-explorer'" (click)="onTabClick('data-explorer')">
          Data Explorer
        </button>
      </li>
    </ul>
    <div *ngIf="activeTab === 'station-activity'" class="me-2">
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="stationSearch.showDialog()">
        Search
      </button>
      <app-stations-search-dialog #stationSearch (searchedIdsChange)="onSearchInput($event)" />
    </div>
  </div>

  <div class="card-body p-0 mt-2">
    <app-stations-monitoring *ngIf="activeTab === 'station-activity'" [searchedStationIds]="searchedStationsIds" />
    <app-data-flow *ngIf="activeTab === 'data-flow'" />
    <app-data-explorer *ngIf="activeTab === 'data-explorer'" />
  </div>

</div>