<div *ngIf="viewExportTemplate" class="card border-0">
    <div class="card-body px-0">
        <div>
            <app-text-input [label]="'Name'" [(value)]="viewExportTemplate.name" />
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewExportTemplate.description" />
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <div>Station:</div>
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'stationsStatus'" [groupItems]="
              [{ label:'All', checked: viewExportTemplate.parameters.stationIds === undefined }, 
                { label:'Select', checked: viewExportTemplate.parameters.stationIds !== undefined }]"
                (checkedValueChange)="onStationsStatusSelection($event)" />
            <div *ngIf="viewExportTemplate.parameters.stationIds">
                <app-station-selector-multiple [id]="'stations'"
                    [(selectedIds)]="viewExportTemplate.parameters.stationIds" />
            </div>
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <div>Element:</div>
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'elementsStatus'" [groupItems]="
              [{ label:'All', checked: viewExportTemplate.parameters.elementIds === undefined },  
               { label:'Select' , checked: viewExportTemplate.parameters.elementIds !== undefined}]"
                (checkedValueChange)="onElementsStatusSelection($event)" />
            <div *ngIf="viewExportTemplate.parameters.elementIds">
                <app-element-selector-multiple [id]="'elements'"
                    [(selectedIds)]="viewExportTemplate.parameters.elementIds" />
            </div>
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <div>Period:</div>
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'periodsStatus'" [groupItems]="
              [{ label:'All', checked: viewExportTemplate.parameters.period === undefined }, 
                { label:'Select', checked: viewExportTemplate.parameters.period !== undefined }]"
                (checkedValueChange)="onPeriodsStatusSelection($event)" />
            <div *ngIf="viewExportTemplate.parameters.period">
                <app-period-single-input [id]="'period'"
                    [(selectedId)]="viewExportTemplate.parameters.period" />
            </div>
        </div>

        <hr class="border border-secondary border-1">


        <div>
            <div>Observation Date:</div>
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'rangeStatus'"
                [groupItems]="
              [{ label:'All', checked: viewExportTemplate.parameters.ObservationDate === undefined },  
               { label:'Within' , checked: viewExportTemplate.parameters.ObservationDate && viewExportTemplate.parameters.ObservationDate.within  !== undefined},
               { label:'Last' , checked: viewExportTemplate.parameters.ObservationDate && viewExportTemplate.parameters.ObservationDate.last !== undefined}]"
                (checkedValueChange)="onRangeStatusSelection($event)" />
            <div *ngIf="viewExportTemplate.parameters.ObservationDate">

                <div *ngIf="viewExportTemplate.parameters.ObservationDate.last !== undefined"
                    class="d-flex align-items-center">
                    <app-number-input [id]="'days'"
                        [(numValue)]="viewExportTemplate.parameters.ObservationDate.last" />
                    <div class="ms-2">days</div>
                </div>
                <div *ngIf="viewExportTemplate.parameters.ObservationDate.within">
                    <div class="d-flex align-items-center ">
                        <app-date-input [id]="'start_date'"
                            [value]="viewExportTemplate.parameters.ObservationDate.within.startDate" />
                        <div class="mx-2">To</div>
                        <app-date-input [id]="'end_date'"
                            [value]="viewExportTemplate.parameters.ObservationDate.within.endDate" />
                    </div>
                </div>

            </div>
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <app-check-box-input #expression [label]="'Use expression'" [value]="false" />
            <div *ngIf="expression.value">
                <div class="fw-bold">Expressions will be supported in next version release</div>
                <div class="text-info">
                    Expressions will allow advanced processing of data into the expected file output, for instance they will be used transform or aggregate data (dekadal, monthly, annual summaries etc.)
                </div>
                <div class="text-info">
                    Expressions will also allow pecifications of file formats like Bufr, Parquet etc.
                </div>
            </div>
        </div>

        <div *ngIf="errorMessage">
            <hr class="border border-secondary border-1">

            <!-- TODO. link the error to individual controls and possibly use bootstrap alert component-->
            <div style="color: red;">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Save
        </button>
        <button *ngIf="viewExportTemplate.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger"
            (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>