<div class="card border-0 p-0">
    <div class="card-body p-0">
        <div class="card-title fw-bold">Search By:</div>
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action px-0" (click)="onShowComponent('id_name')">
                <i class="bi bi-arrow-right-short"></i> ID/Name
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_method')">
                <i class="bi bi-arrow-right-short"></i> Observation Method
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_environment')">
                <i class="bi bi-arrow-right-short"></i> Observation Environment
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0" (click)="onShowComponent('obs_focus')">
                <i class="bi bi-arrow-right-short"></i> Observation Focus
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_status')">
                <i class="bi bi-arrow-right-short"></i> Status
            </button>
        </div>

    </div>

</div>