<app-drop-down-container [translateX]="false" [(displayDropDown)]="displayDropDown"
  [maxHeight]="dropDownOptionMaxHeight">
  <div main-content>
    <label *ngIf="label" [for]="id? id:label">{{ label + ':' }}</label>
    <div [class.input-group]="includeDropDownOption || includeCancelOption">

      <input [type]="type" class="form-control form-control-sm" autocomplete="off" [id]="id? id:label"
        [disabled]="disabled" [readOnly]="readonly" [class.text-danger]="errorMessage" [class.text-success]="showChanges && !errorMessage" [value]="value" [attr.max]="max"
        [attr.placeholder]="placeholder" (click)="onInputClick()" (input)="onValueChange($any($event.target).value)"
        (keydown.enter)="onEnterKeyPressed()" (blur)="onInputBlur()" appSimulateTabOnEnter />

      <!-- btn-input-group class is needed to prevent tab selection on enter key press -->
      <button *ngIf="includeDropDownOption" type="button" class="btn btn-sm btn-outline-secondary btn-input-group"
        (click)="onDropDownButtonClick()">
        <app-toggle-chevron [open]="displayDropDown" />
      </button>

      <button *ngIf="includeCancelOption" type="button" class="btn btn-sm btn-outline-secondary btn-input-group"
        (click)="onCancelOptionClick()">
        <i class="bi bi-x"></i>
      </button>

    </div>

    <div class="form-text" [class.text-danger]="errorMessage">{{ errorMessage ? errorMessage : hintMessage }}</div>

  </div>

  <div drop-down-content>
    <ng-content></ng-content>
  </div>
</app-drop-down-container>