<div class="d-flex justify-content-between align-items-end">
    <div class="row g-2 px-2">
        <div class="col-auto mb-2">
            <app-station-selector-multiple [label]="'Stations'" [(selectedIds)]="stationIds"
                [includeOnlyIds]="includeOnlyStationIds" />
        </div>

        <div class="col-auto mb-2">
            <app-element-selector-multiple [label]="'Elements'" [(selectedIds)]="elementIds" />
        </div>

        <div class="col-auto mb-2">
            <app-number-input [label]="'Level'" [(value)]="level" />
        </div>

        <div class="col-auto mb-2">
            <app-interval-selector-single [label]="'Interval'" [displayCancelOption]="true" [(selectedId)]="interval" />
        </div>

        <div class="col-auto mb-2">
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'availabilityDuration'"
                [groupItems]=" [
                        { label:'Day', checked: durationType === durationTypeEnum.DAY },  
                        { label:'Month', checked: durationType === durationTypeEnum.MONTH },  
                        { label:'Year', checked: durationType === durationTypeEnum.YEAR},
                        { label:'Years', checked: durationType === durationTypeEnum.YEARS}
                        ]" (checkedValueChange)="onDurationChange($event)" />

            <app-date-input *ngIf="durationType === durationTypeEnum.DAY" [id]="'availabilityDay'"
                [(value)]="durationDay" />

            <app-year-month-input *ngIf="durationType === durationTypeEnum.MONTH" [id]="'availabilityMonth'"
                [(value)]="durationMonth" />

            <app-year-selector-single *ngIf="durationType === durationTypeEnum.YEAR" [id]="'availabilityYear'"
                [(selectedId)]="durationYear" />

            <div *ngIf="durationType === durationTypeEnum.YEARS" class="d-flex">
                <app-year-selector-single [id]="'fromAvailabilityYears'" [(selectedId)]="durationYears[0]" />
                <div class="m-2">To</div>
                <app-year-selector-single [id]="'toAvailabilityYears'" [(selectedId)]="durationYears[1]" />
            </div>
        </div>

    </div>
</div>