<ng-container *ngIf="entryObservations && entryObservations.length>0">
  <!-- For large screens, use the grid system and
    split the controls definitions into chunks of columns that have rows arranged from top to bottom -->
  <div *ngIf="largeScreen" class="row g-4">
    <div class="col" *ngFor="let chunkArray of fieldDefinitionsChunks; let i = index">

      <div class="row mb-2 p-0" *ngFor="let fieldDef of chunkArray">
        <app-value-flag-input [id]="fieldDef[0]" [label]="fieldDef[1]" [elements]="elements" [flags]="flags"
          [observation]="getEntryObservation(fieldDef)" (valueChange)="onValueChange()"
          (inputBlur)="onInputBlur($event)"></app-value-flag-input>
      </div>

      <div *ngIf="i === this.fieldDefinitionsChunks.length - 1 && formMetadata.validateTotal" class="row mb-2">
        <app-number-input [id]="'total'" [label]="'Total'" [value]="entryTotal.value" [errorMessage]="entryTotal.errorMessage"
          (valueChange)="onTotalValueChange($event)"
          (inputEnterKeyPress)="onTotalValueChange($event)"></app-number-input>
      </div>

    </div>
  </div>

  <!-- For small screens, just use a column flex container -->
  <div *ngIf="!largeScreen" class="d-flex flex-column">

    <app-value-flag-input class="mb-2" *ngFor="let fieldDef of fieldDefinitions" [id]="fieldDef[0]"
      [label]="fieldDef[1]" [elements]="elements" [flags]="flags" [observation]="getEntryObservation(fieldDef)"
      (valueChange)="onValueChange()" (inputBlur)="onInputBlur($event)"></app-value-flag-input>

    <div *ngIf="formMetadata.validateTotal" class="mb-2">
      <app-number-input [id]="'total'" [label]="'Total'" [value]="entryTotal.value" [errorMessage]="entryTotal.errorMessage"
        (valueChange)="onTotalValueChange($event)" (inputEnterKeyPress)="onTotalValueChange($event)"></app-number-input>
    </div>

  </div>
</ng-container>