<div *ngIf="climsoftv4Setting" class="card border-0">

  <div class="card-header d-flex ">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link active" [class.active]="activeTab === 'connection'" (click)="onTabClick('connection')">
          Connection Settings
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'data'" (click)="onTabClick('data')">
          Metadata & Data State
        </button>
      </li>
    </ul>

  </div>

  <!-- selected tab contents -->
  <div class="card-body p-0 mt-2">

    <div *ngIf="activeTab === 'connection' && climsoftv4Setting.parameters" class="card border-0">
      <div class="card-body">
        <app-climsoft-v4-db [settingParameter]="climsoftv4Setting.parameters" />
      </div>
      <div class="card-footer bg-transparent d-flex justify-content-end px-0 mt-3">
        <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSaveConnectionsClick()">
          Save
        </button>
      </div>
    </div>

    <div *ngIf="activeTab === 'data'" class="mt-2">
      <div>
        <div class="fw-bold">Connection State:</div>
        <div class="d-flex align-items-center">
          <div *ngIf="connectedToV4DB" class="text-success"> Connected </div>
          <button *ngIf="connectedToV4DB" type="button" class="btn btn-sm btn-outline-secondary ms-2"
            (click)="onConnectToV4DBClick()">
            Disconnect
          </button>
          <div *ngIf="!connectedToV4DB">Not Connected</div>
          <button *ngIf="!connectedToV4DB" type="button" class="btn btn-sm btn-outline-secondary ms-2"
            (click)="onConnectToV4DBClick()">
            Connect
          </button>
        </div>
      </div>
      <hr />
      <div>
        <div class="fw-bold">Metadata:</div>
        <div class="text-danger" style="font-size: smaller;">
          Pulling metadata will overwrite any updates done via web interface
        </div>
        <div class="d-flex mb-2">
          <div>
            <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onPullElementsClick()">
              Pull Elements
            </button>
          </div>
          <div>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="onPullStationsClick()">
              Pull Stations
            </button>
          </div>
        </div>

      </div>

      <hr />
      <div>
        <div class="fw-bold">Data State:</div>
        <div class="d-flex align-items-center">
          <div class="d-flex me-2">
            <div class="me-2">
              Observations NOT saved:
            </div>
            <div class="text-danger">
              {{unsavedObservations> 1000000? 'Over 1M' : (unsavedObservations | number:'1.0-0' )}}
            </div>
          </div>
          <button *ngIf="unsavedObservations" type="button" class="btn btn-sm btn-outline-primary"
            (click)="onSaveObservationsClick()">
            Save
          </button>
        </div>
      </div>
    </div>

  </div>




</div>