<div *ngIf="viewUser" class="card border-0">

  <div class="card-header d-flex justify-content-between p-0 align-items-center mb-3">
    <div class="fw-bold">Edit user details</div>
  </div>

  <div class="card-body p-0">

    <div>
      <app-text-input [label]="'Name'" [(value)]="viewUser.name" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [type]="'email'" [label]="'Email'" [(value)]="viewUser.email" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Phone'" [(value)]="viewUser.phone" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-user-group-selector-single [label]="'Group'" [selectedId]="viewUser.groupId" (selectedIdChange)="onGroupChange($event)" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-check-box-input [label]="'Is system administrator'" [value]="viewUser.isSystemAdmin"
        (valueChange)="onIsSytemAdminChange($event)" />

      <div *ngIf="!viewUser.isSystemAdmin && viewUser.permissions">
        <app-edit-user-permissions [userPermissions]="viewUser.permissions" />
      </div>
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-check-box-input [label]="'Disabled'" [(value)]="viewUser.disabled" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Comment'" [(value)]="viewUser.comment" />
    </div>

    <div *ngIf="errorMessage">
      <hr class="border border-secondary border-1">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </div>

  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0 mt-3">
    <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSaveClick()">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelClick()">Cancel</button>
  </div>

</div>