<div *ngIf="setting" class="card border-0">

  <div class="card-body p-0">
    <div>
      <div class="mb-3">
        <app-label-input [label]="'Name'" [value]="setting.name" />
      </div>

      <div class="mb-3">
        <app-label-input [label]="'Description'" [value]="setting.description" />
      </div>
    </div>

    <div *ngIf="setting.parameters" class="mt-2 card border-0">
      <div class="card-header fw-bold">Parameters</div>
      <div class="card-body">
        <app-climsoft-boundary *ngIf="setting.id === 1" [settingParameter]="setting.parameters" />
        <app-climsoft-display-timezone *ngIf="setting.id === 2" [settingParameter]="setting.parameters" />
      </div>
    </div>

  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0 mt-3">
    <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSaveClick()">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelClick()">Cancel</button>
  </div>

</div>