.nav-bar-title {
  font-size: 24px;
}

.nav-bar-icon {
  //font-size: 2.1875rem;
  font-size: 24px;
  cursor: pointer;
}

.nav-avatar {
  width: 40px;
  height: 40px;
}

.nav-bar-user-title {
  text-decoration: none;
  cursor: pointer;
}

.page-toast {
  position: absolute;
  top: 40vh;
  left: 40vh;
  z-index: 1600; // 1600 chosen so than its greater than the dialog
  width: 350px;
  font-size: .875rem;
}

.user-drop-down {
  overflow: auto;
  position: absolute;
  right: 10px;
  z-index: 10;
}