.nav-container-open {
  visibility: visible;
  width: auto;
}

.nav-container-close {
  visibility: hidden;
  width: 0px;
}

.nav-bar-title {
  font-size: 24px;
}

.nav-bar-icon {
  cursor: pointer;
  //font-size: 2.1875rem;
  font-size: 24px;
}

.nav-avatar {
  width: 40px;
  height: 40px;
}

.nav-bar-user-title {
  text-decoration: none;
  cursor: pointer;
}

.page-toast {
  width: 350px;
  font-size: .875rem;
  position: absolute;
  // top: 10px;
  // right: 10px;
  top: 10%;
  left: 30%;
  z-index: 1600; // 1600 chosen so than its greater than the dialog
}

.user-drop-down {
  overflow: auto;
  position: absolute;
  right: 10px;
  z-index: 10;
}
