:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.nav-container-open {
  visibility: visible;
  width: auto;
}

.nav-container-close {
  visibility: hidden;
  width: 0px; 
}

.nav-brand {
  font-size: 1.15rem;
}

.nav-bar-toggle {
  cursor: pointer;
  font-size: 2.1875rem;
}

.nav-avatar {
  width: 40px;
  height: 40px;
}

.nav-bar-user-title{
  text-decoration: none;
  cursor: pointer;
}





