<div>
    <app-check-box-input [label]="'Includes Stations'" [value]="stationDefinition !== undefined"
        (valueChange)="onIncludeStation($event)" />
    <div class="ms-4" *ngIf="stationDefinition !== undefined">
        <div class="mb-2">
            <app-number-input [id]="'station_column_position'" [label]="'Column Position'"
                [(numValue)]="stationDefinition.columnPosition" />
        </div>
        <div>
            <div class="mb-2">
                <app-check-box-input [label]="'Fetch Specific Stations'"
                    [value]="stationDefinition.stationsToFetch !== undefined"
                    (valueChange)="onFetchStationsChange($event)" />
            </div>
            <div *ngIf="stationDefinition.stationsToFetch" class="ms-2">
                <app-id-mapping-table [selectorType]="'station'"
                    [mappings]="$any(stationDefinition.stationsToFetch)"
                    [defaultDatabaseId]="''"
                    [sourceLabel]="'Source ID'"
                    [databaseLabel]="'Database ID'"
                    (mappingsChange)="onMappingsChange($event)" />
            </div>
        </div>
    </div>
</div>
