<div class="card border-0">

    <div class="card-header d-flex justify-content-between align-items-center px-1 ">

        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <button class="nav-link active" [class.active]="activeTab === 'summary'"
                    (click)="onTabClick('summary')">
                    Summary
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" [class.active]="activeTab === 'details'" (click)="onTabClick('details')">
                    Details
                </button>
            </li>
        </ul>
    </div>

    <div class="card border-0 px-0">
        <div class="card-body p-0 mt-2">
            <app-data-availability-summary *ngIf="activeTab === 'summary'" [(filter)]="summaryFilter" />
            <app-data-availability-details *ngIf="activeTab === 'details'" [(filter)]="detailsFilter" />
        </div>
    </div>
</div>