<div class="card border-0">
    <div class="card-header mb-2 px-1 fw-bold">
        <app-toggle-chevron [(open)]="displayFilterControls">Filter</app-toggle-chevron>
    </div>
    <div *ngIf="displayFilterControls" class="card-body p-0">
        <div>
            <div>
                <app-query-selection #querySelection [parentComponentName]="componentName" [includeDeletedData]="false"
                    [displayQueryButton]="false" />
                <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        [disabled]="!queryAllowed || !enableQueryButton " (click)="onQueryClick(querySelection.query)">
                        Query
                    </button>
                </div>
            </div>
            <hr />
            <div>
                <div>
                    <div>Perform QC on: </div>
                    <app-radio-buttons-input [inline]="true" [asButtons]="false" [groupName]="'qcRecordsStatus'"
                        [groupItems]=" [
                        { label:'All Records', checked: false },  
                        { label:'Records with no QC tests', checked: true},
                        { label:'Records that failed QC tests', checked: false},
                        { label:'Records that passed QC tests', checked: false}
                        ]" (checkedValueChange)="onRecordsSelectionChange($event)" />
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                        [disabled]="!queryAllowed || !enablePerformQCButton "
                        (click)="onPerformQCClick(querySelection.query)">
                        Perform QC
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>