<ng-container *ngIf="observationDefinition">
    <app-text-input #appTextInput [id]="id" [label]="label" [disabled]="disableValueFlagEntry" [borderSize]="borderSize"
        [value]="observationDefinition.valueFlagInput" [dropDownOptionMaxHeight]="300"
        [errorMessage]="observationDefinition.validationErrorMessage"
        [warningMessage]="observationDefinition.validationWarningMessage"
        [showChanges]="observationDefinition.observationChangeIsValid && observationDefinition.observationChanged"
        [displayExtraInfoOption]="displayExtraInfoOption"
        (displayExtraInfoOptionClick)="onDisplayExtraInfoOptionClick()" (valueChange)="onInputEntry($event)"
        (inputEnterKeyPress)="onEnterKeyPressed()" [simulateTabOnEnter]="simulateTabOnEnter" />

    <app-dialog [title]="'Extra Information'" [okButtonLabel]="'Ok'" [cancelButtonLabel]="'Cancel'"
        [(open)]="displayExtraInfoDialog" (okClick)="onExtraInfoOkClicked()">
        <div *ngIf="displayExtraInfoDialog" class="card border-0">

            <!-- tab header -->
            <div class="card-header d-flex">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" [class.active]="activeTab === 'new'"
                            (click)="onTabChange('new')">New</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="activeTab === 'history'"
                            (click)="onTabChange('history')">History</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="activeTab === 'qctests'"
                            (click)="onTabChange('qctests')">QC Tests</button>
                    </li>
                </ul>
            </div>

            <!-- selected tab contents -->
            <div class="card-body p-0">

                <div *ngIf="activeTab === 'new'" class="mt-2">
                    <div *ngIf="allowIntervalEditing">
                        <div class="d-flex ">
                            <div style="max-width: 90px;">
                                <app-number-input [label]="'Interval'" [(numValue)]="interval" />
                            </div>
                            <div class="ms-2 d-flex align-items-end">
                                minutes
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div>
                        <app-text-input [label]="'Comment'" [(value)]="comment" />
                    </div>
                </div>

                <div *ngIf="activeTab === 'history'"> 
                    <div *ngIf="viewObservationLog">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Value</th>
                                    <th>Flag</th>
                                    <th>QC Status</th>
                                    <th>Comment</th>
                                    <th>Deleted</th>
                                    <th>Entry User Name</th>
                                    <th>Entry User Email</th>
                                    <th>Entry Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of viewObservationLog">
                                    <td>{{ row.value }}</td>
                                    <td>{{row.flag}}</td>
                                    <td>{{ row.qcStatus }}</td>
                                    <td>{{ row.comment }}</td>
                                    <td>
                                        <app-check-box-input [id]="row.entryDateTime" [disabled]="true"
                                            [value]="row.deleted" />
                                    </td>
                                     <td>{{row.entryUserName}}</td>
                                    <td>{{row.entryUserEmail}}</td>
                                    <td>{{ row.entryDateTime }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div *ngIf="activeTab === 'qctests'">
                    <div *ngIf="viewQCTestLog.length === 0" class="p-4">
                        No QC tests done.
                    </div>
                    <div *ngIf="viewQCTestLog.length > 0">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>QC Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of viewQCTestLog">
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.qcStatus }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </app-dialog>
</ng-container>