<app-dialog [(open)]="open" [title]="'Select Option'" [displayOkOption]="false" [displayCancelOption]="false"
    [displayDeleteOption]="false" [cancelButtonLabel]="'Close'">
    <div class="card border-0 p-0">
        <div class="card-header d-flex">

        </div>
        <div class="card-body p-0">
            <div *ngIf="showViewData">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onOptionClick('view_data')">
                    View Data
                </button>
            </div>
            <div *ngIf="showDrillDown">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onOptionClick('drill_down')">
                    Drill Down
                </button>
            </div>
        </div>
    </div>
</app-dialog>