<div *ngIf="element" class="card border-0">
  <div class="card-body p-0">
    <!-- title -->
    <div class="card-title fw-bold d-flex justify-content-between px-2">
      <div>Showing element details - {{ element.name }}</div>
      <div *ngIf="userIsSystemAdmin">
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>

    <!-- characteristics -->
    <div class="card border-0">
      <div class="card-header px-2 fw-bold">
        <app-toggle-chevron #characteristicsToggle [open]="true">Characteristics</app-toggle-chevron>
      </div>
      <div *ngIf="characteristicsToggle.open" class="card-body px-2">
        <app-element-characteristics [element]="element" />
      </div>
    </div>
    <!-- /end characteristics -->

    <!-- QC -->
    <div class="card border-0">
      <div class="card-header px-2 fw-bold">
        <app-toggle-chevron #qcTestsToggle>Quality Control Tests</app-toggle-chevron>
      </div>
      <div class="card-body px-2" *ngIf="qcTestsToggle.open">
        <app-qc-tests [element]="element" />
      </div>
    </div>

  </div>



</div>