<ng-container *ngIf="open">
    <app-dialog [(open)]="open" [title]="'Data Correction'"
        [firstButtonOptions]="{label: 'Submit', color: 'primary', disable: !enableSubmitButton, closeDialogOnClick: false}"
        [secondButtonOptions]="{label: 'Close', closeDialogOnClick: true}"
        (firstButtonClick)="onSubmitChanges()">
        <div style="min-height: 70vh;">
            <app-data-corrector #dataCorrector (userChanges)="onUserChanges($event)"
                (userChangesSubmitted)="onuserChangesSubmitted()" />
        </div>
    </app-dialog>
</ng-container>