<div class="card border-0">

    <div class="card-body p-0">
        <div>
            <app-query-selection #querySelection [parentComponentName]="componentName"
                [enableQueryButton]="enableQueryButton" (queryClick)="onQueryQCClick($event)" />
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-sm btn-outline-secondary " [disabled]="!enableQueryButton"
                (click)="onShowPerformQCDialog()">
                Perform QC
            </button>
            <app-perform-qc-dialog #performQCDialog  (ok)="onQCPerformedClick()" />
        </div>
        <div class="card border-0 p-0 mt-2">
            <div class="card-header d-flex justify-content-between px-0 py-1 align-items-center">
                <div class="fw-bold ms-1">Showing Entries</div>
                <div *ngIf="pageInputDefinition.totalRowCount" class="d-flex">
                    <app-drop-down-button [buttonText]="'More Options'"
                        [dropDownItems]="['Stack/Unstack','Confirm All', 'Delete All']"
                        (dropDownOptionClick)="onOptionsSelected($event)" [offSetRight]="false" />
                    <div class="vr mx-2"></div>
                    <app-page-input [pageInputDefinition]="pageInputDefinition"
                        (pageInputDefinitionChange)="loadData()" />
                    <div *ngIf="numOfChanges" class="d-flex align-items-center">
                        <div class="vr mx-2"></div>
                        <div class=" text-success me-2">Total Changes: {{numOfChanges}}</div>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 mt-2">
                <div *ngIf="useUnstackedViewer">
                    <app-unstacked-data-viewer [observationsEntries]="observationsEntries"
                        (valueChange)="onUserInput()" />
                </div>
                <div *ngIf="!useUnstackedViewer">
                    <div class="app-table-container">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Station</th>
                                    <th>Element</th>
                                    <th>Level</th>
                                    <th>Date Time</th>
                                    <th>Interval</th>
                                    <th>Source</th>
                                    <th>Value & Flag</th>
                                    <th>Comment</th>
                                    <th>QC Tests Failed</th>
                                    <th>Confirm as Correct</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obsEntry of observationsEntries; let i = index;">
                                    <td>{{ getRowNumber(i) }}</td>
                                    <td>{{ obsEntry.observation.stationId + '-' + obsEntry.stationName }}</td>
                                    <td>{{ obsEntry.observation.elementId + '-' + obsEntry.elementAbbrv }}</td>
                                    <td>{{ obsEntry.observation.level }}</td>
                                    <td>{{ obsEntry.formattedDatetime }}</td>
                                    <td>{{ obsEntry.intervalName }}</td>
                                    <td>{{ obsEntry.sourceName }}</td>
                                    <td>
                                        <div class="app-value-flag-container">
                                            <app-value-flag-input [id]="i + '_vf'" [displayExtraInfoOption]="true"
                                                [scaleUserInputValue]="false" [observationEntry]="obsEntry"
                                                [disableValueFlagEntry]="obsEntry.confirmAsCorrect || obsEntry.delete"
                                                (userInputVF)="onUserInput()" />
                                        </div>
                                    </td>
                                    <td>{{ obsEntry.observation.comment }}</td>
                                    <td>
                                        <div>
                                            <div *ngFor="let qcTestLogItem of obsEntry.qcTestsFailed"
                                                class="d-flex flex-row">
                                                <div><i class="bi bi-arrow-right-short"></i></div>
                                                <div>{{qcTestLogItem.name}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <app-check-box-input [id]="i + '_confirm'" [value]="obsEntry.confirmAsCorrect"
                                            [disabled]="obsEntry.delete" (valueChange)="onUserDeleteClick(obsEntry)" />
                                    </td>
                                    <td>
                                        <app-check-box-input [id]="i + '_delete'" [value]="obsEntry.delete"
                                            [disabled]="obsEntry.confirmAsCorrect"
                                            (valueChange)="onUserConfirmAsCorrectClick(obsEntry)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-footer bg-transparent d-flex justify-content-end px-0">
                <button type="button" class="btn btn-sm btn-outline-primary me-2" [disabled]="!enableSaveButton"
                    (click)="onSave()">
                    Submit
                </button>
            </div>
        </div>

    </div>


</div>