<div class="card border-0">
  <div class="card-header d-flex justify-content-between p-0 align-items-center">
    <div class="fw-bold">Showing Stations</div>
    <div class="mb-1">
      <button type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="onSearchClick()">
        Search
      </button>
    </div>
  </div>

  <div class="card-body px-0">
    <!-- <app-table-view [columnsData]="[ {id: 'id', name: 'Id'}, {id: 'name', name: 'Name'} ]" [rowsData]="stations"
      (rowDataClicked)="onStationClick($event)"></app-table-view> -->



    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of stations">
          <tr class="cursor-pointer" (click)="loadStationForms(row); row.selected = !row.selected;">
            <td>
              <i #icon class="me-1 bi"
                [ngClass]="{ 'bi-chevron-down':row.selected, 'bi-chevron-right':!row.selected }"></i>
            </td>
            <td>{{ row.id}}</td>
            <td>{{ row.name}}</td>
            <td>
              <app-table-view  *ngIf="row.selected && row.forms" [columnsData]="[ {id: 'sourceId', name: 'Form Id'}, {id: 'sourceName', name: 'Form Name'}, {id: 'sourceDescription', name: 'Form Description'} ]" [rowsData]="row.forms"
                (rowDataClicked)="onFormClick($event)"></app-table-view>
            </td>
          </tr>
        
        </ng-container>


      </tbody>
    </table>

  </div>

</div>