<div *ngIf="stations" class="card border-0">
  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th style="width: 2%;"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Processing Method</th>
            <th>Environment</th>
            <th>Focus</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="app-cursor-pointer" *ngFor="let station of stations"
            (click)="isSystemAdmin ? dlgStationEdit.showDialog(station.id): ''">
            <td><i class="bi bi-cursor"></i></td>
            <td>{{ station.id }}</td>
            <td>{{ station.name }}</td>
            <td>{{ station.location? station.location.latitude: '' }}</td>
            <td>{{ station.location? station.location.longitude: '' }}</td>
            <td>{{ station.stationObsProcessingMethodName }}</td>
            <td>{{ station.stationObsEnvironmentName }}</td>
            <td>{{ station.stationObsFocusName }}</td>
            <td>{{ station.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-edit-station-dialog #dlgStationEdit />
  </div>
</div>