<div class="d-flex align-items-center">
  <app-text-input [type]="'date'" [id]="id" [label]="label" [disabled]="disabled" [max]="maxDate" [value]="(value)"
    [errorMessage]="errorMessage" [hintMessage]="hintMessage" (valueChange)="onValueChange($event)"
    (inputClick)="onInputClick()" (inputEnterKeyPress)="onEnterKeyPressed()" (inputBlur)="onInputBlur()" />
  <button class="btn btn-sm btn-outline-secondary mt-4" (click)="onPrevious()"><i
      class="bi bi-chevron-left"></i></button>
  <button class="btn btn-sm btn-outline-secondary mt-4" [disabled]="disableNextButton" (click)="onNext()"><i
      class="bi bi-chevron-right"></i></button>
</div>