<div class="d-flex">
  <app-text-input [type]="'date'" [id]="id" [label]="label" [disabled]="disabled" [max]="maxDate" [value]="(value)"
    [errorMessage]="errorMessage" [hintMessage]="hintMessage" (valueChange)="onValueChange($event)"
    (inputClick)="onInputClick()" (inputEnterKeyPress)="onEnterKeyPressed()" (inputBlur)="onInputBlur()" />

  <div *ngIf="showNavigationButtons" class="d-flex">
    <!-- Add marging top of 4 when there is a label so that the buttons can align well with the text input -->
    <button class="btn btn-sm btn-outline-secondary" [class.mt-4]="label" (click)="onPrevious()">
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="btn btn-sm btn-outline-secondary" [class.mt-4]="label" (click)="onNext()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

</div>