<div *ngIf="userPermissions" class="card border-1">

  <div class="card-header">Permissions:</div>

  <div class="card-body p-2">
    <div>
      <app-check-box-input [label]="'Can edit station metadata'"
        [value]="userPermissions.stationsMetadataPermissions? true: false"
        (valueChange)="onCanEditStationMetadataChange($event)" />
      <div *ngIf="userPermissions.stationsMetadataPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'stationsMetadataPermissions'" [groupItems]="[
        { label:'All', checked: userPermissions.stationsMetadataPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.stationsMetadataPermissions.stationIds  !== undefined}]"
        (checkedValueChange)="onStationMetadataSelectionTypeChange($event)" />
        <app-station-selector-multiple *ngIf="userPermissions.stationsMetadataPermissions.stationIds" [id]="'metadataStations'"
          [(selectedIds)]="userPermissions.stationsMetadataPermissions.stationIds"  />
      </div>
    </div>

    <div class="mt-3">
      <app-check-box-input [label]="'Can enter data'" [value]="userPermissions.entryPermissions? true: false"
        (valueChange)="onCanEnterDataChange($event)" />
      <div *ngIf="userPermissions.entryPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'entryPermissions'" [groupItems]="[
          { label:'All', checked: userPermissions.entryPermissions.stationIds  === undefined}, 
          { label:'Select', checked: userPermissions.entryPermissions.stationIds  !== undefined}]"
          (checkedValueChange)="onEntryStationsSelectionTypeChange($event)" />

        <app-station-selector-multiple *ngIf="userPermissions.entryPermissions.stationIds" [id]="'entryStations'"
          [(selectedIds)]="userPermissions.entryPermissions.stationIds" />
      </div>
    </div>

    <div class="mt-3">
      <app-check-box-input [label]="'Can import data'" [value]="userPermissions.importPermissions? true: false"
        (valueChange)="onCanImportDataChange($event)" />
      <div *ngIf="userPermissions.importPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'importPermissions'" [groupItems]="[
          { label:'All', checked: userPermissions.importPermissions.importTemplateIds  === undefined}, 
          { label:'Select', checked: userPermissions.importPermissions.importTemplateIds  !== undefined}]"
          (checkedValueChange)="onImportSelectionTypeChange($event)" />

        <app-source-selector-multiple *ngIf="userPermissions.importPermissions.importTemplateIds" [id]="'importPermissions'"
          [(selectedIds)]="userPermissions.importPermissions.importTemplateIds" />
      </div>
    </div>

    <div class="mt-3">
      <app-check-box-input [label]="'Can monitor data ingestion'" [value]="userPermissions.ingestionMonitoringPermissions? true: false"
        (valueChange)="onCanAnalyseDataChange($event)" />
      <div *ngIf="userPermissions.ingestionMonitoringPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'ingestionMonitoringPermissions'" [groupItems]="[
        { label:'All', checked: userPermissions.ingestionMonitoringPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.ingestionMonitoringPermissions.stationIds  !== undefined}]"
        (checkedValueChange)="onAnalysisStationsSelectionTypeChange($event)" />

        <app-station-selector-multiple *ngIf="userPermissions.ingestionMonitoringPermissions.stationIds" [id]="'ingestionMonitoringPermissions'"
          [(selectedIds)]="userPermissions.ingestionMonitoringPermissions.stationIds"  />
      </div>
    </div>

    <div class="mt-3">
      <app-check-box-input [label]="'Can quality control data'" [value]="userPermissions.qcPermissions? true: false"
        (valueChange)="onCanQCDataChange($event)" />
      <div *ngIf="userPermissions.qcPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'qcPermissions'" [groupItems]="[
        { label:'All', checked: userPermissions.qcPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.qcPermissions.stationIds  !== undefined}]"
        (checkedValueChange)="onQCStationsSelectionTypeChange($event)" />

        <app-station-selector-multiple  *ngIf="userPermissions.qcPermissions.stationIds" [id]="'qcStations'"
          [(selectedIds)]="userPermissions.qcPermissions.stationIds"  />
      </div>
    </div>

    <div class="mt-3">
      <app-check-box-input [label]="'Can export data'" [value]="userPermissions.exportPermissions? true: false"
        (valueChange)="onCanExportDataChange($event)" />
      <div *ngIf="userPermissions.exportPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'exportPermissions'" [groupItems]="[
        { label:'All', checked: userPermissions.exportPermissions.exportTemplateIds === undefined}, 
        { label:'Select', checked: userPermissions.exportPermissions.exportTemplateIds  !== undefined}]"
        (checkedValueChange)="onExportSelectionTypeChange($event)" />

        <app-export-template-selector-multiple *ngIf="userPermissions.exportPermissions.exportTemplateIds" [id]="'exportPermissions'"
          [(selectedIds)]="userPermissions.exportPermissions.exportTemplateIds"  />
      </div>
    </div>

  </div>

</div>