<div *ngIf="userPermissions" class="card border-1">

  <div class="card-header">Permissions:</div>

  <div class="card-body p-2">
    <div>
      <app-check-box-input [label]="'Station metadata edit permissions'"
        [value]="userPermissions.stationsMetadataPermissions? true: false"
        (valueChange)="onCanEditStationMetadataChange($event)" />
      <div *ngIf="userPermissions.stationsMetadataPermissions" class="ms-4">
        <div>Stations:</div>
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'stationsMetadataPermissions'"
          [groupItems]="[
        { label:'All', checked: userPermissions.stationsMetadataPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.stationsMetadataPermissions.stationIds  !== undefined}]"
          (checkedValueChange)="onStationMetadataSelectionTypeChange($event)" />
        <app-station-selector-multiple *ngIf="userPermissions.stationsMetadataPermissions.stationIds"
          [id]="'metadataStations'" [(selectedIds)]="userPermissions.stationsMetadataPermissions.stationIds" />
      </div>
    </div>

    <hr />

    <div>
      <app-check-box-input [label]="'Data entry and correction permissions'"
        [value]="userPermissions.entryPermissions? true: false" (valueChange)="onCanEnterDataChange($event)" />
      <div *ngIf="userPermissions.entryPermissions" class="ms-4">
        <div>
          <div>Stations:</div>
          <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'data_entry_permissions'" [groupItems]="[
            { label:'All', checked: userPermissions.entryPermissions.stationIds  === undefined}, 
            { label:'Select', checked: userPermissions.entryPermissions.stationIds !== undefined}]"
            (checkedValueChange)="onEntryStationsSelectionTypeChange($event)" />
          <app-station-selector-multiple *ngIf="userPermissions.entryPermissions.stationIds" [id]="'entryStations'"
            [(selectedIds)]="userPermissions.entryPermissions.stationIds" />
        </div>
        <div class="mt-2">
           <app-edit-user-permissions-duration [groupName]="'data_entry_permissions_observation_period'"
                [(observationPeriod)]="userPermissions.entryPermissions.observationPeriod" />          
        </div>

      </div>
    </div>

    <hr />

    <div>
      <app-check-box-input [label]="'Data import permission'" [value]="userPermissions.importPermissions? true: false"
        (valueChange)="onCanImportDataChange($event)" />
      <div *ngIf="userPermissions.importPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'import_permissions'" [groupItems]="[
              { label:'All', checked: userPermissions.importPermissions.importTemplateIds  === undefined}, 
              { label:'Select', checked: userPermissions.importPermissions.importTemplateIds  !== undefined}]"
          (checkedValueChange)="onImportSelectionTypeChange($event)" />

        <app-source-selector-multiple *ngIf="userPermissions.importPermissions.importTemplateIds"
          [id]="'importPermissions'" [includeOnlyIds]="onlyIncludeImportIds"
          [(selectedIds)]="userPermissions.importPermissions.importTemplateIds" />
      </div>
    </div>

    <hr />

    <div>
      <app-check-box-input [label]="'Data monitoring permissions'"
        [value]="userPermissions.ingestionMonitoringPermissions? true: false"
        (valueChange)="onCanAnalyseDataChange($event)" />
      <div *ngIf="userPermissions.ingestionMonitoringPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'ingestion_monitoring_permissions'"
          [groupItems]="[
        { label:'All', checked: userPermissions.ingestionMonitoringPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.ingestionMonitoringPermissions.stationIds  !== undefined}]"
          (checkedValueChange)="onAnalysisStationsSelectionTypeChange($event)" />

        <app-station-selector-multiple *ngIf="userPermissions.ingestionMonitoringPermissions.stationIds"
          [id]="'ingestionMonitoringPermissions'"
          [(selectedIds)]="userPermissions.ingestionMonitoringPermissions.stationIds" />
      </div>
    </div>

    <hr />

    <div>
      <app-check-box-input [label]="'Quality control permissions'" [value]="userPermissions.qcPermissions? true: false"
        (valueChange)="onCanQCDataChange($event)" />
      <div *ngIf="userPermissions.qcPermissions" class="ms-4">
        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'qc_permissions'" [groupItems]="[
        { label:'All', checked: userPermissions.qcPermissions.stationIds  === undefined}, 
        { label:'Select', checked: userPermissions.qcPermissions.stationIds  !== undefined}]"
          (checkedValueChange)="onQCStationsSelectionTypeChange($event)" />

        <app-station-selector-multiple *ngIf="userPermissions.qcPermissions.stationIds" [id]="'qcStations'"
          [(selectedIds)]="userPermissions.qcPermissions.stationIds" />
      </div>
    </div>

    <hr />

    <div>
      <app-check-box-input [label]="'Data export permissions'" [value]="userPermissions.exportPermissions? true: false"
        (valueChange)="onCanExportDataChange($event)" />
      <div *ngIf="userPermissions.exportPermissions" class="ms-4">
        <div>
          <div>
            <div>
              <div>Station:</div>
              <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'stations_export_permissions'" [groupItems]="
                      [{ label:'All', checked: userPermissions.exportPermissions.stationIds === undefined }, 
                        { label:'Select', checked: userPermissions.exportPermissions.stationIds !== undefined }]"
                (checkedValueChange)="onExportStationsSelection($event)" />
              <div *ngIf="userPermissions.exportPermissions.stationIds">
                <app-station-selector-multiple [id]="'stations'"
                  [(selectedIds)]="userPermissions.exportPermissions.stationIds" />
              </div>
            </div>

            <div class="mt-2">
              <div>Element:</div>
              <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'elements_export_permissions'" [groupItems]="
                      [{ label:'All', checked: userPermissions.exportPermissions.elementIds === undefined },  
                       { label:'Select' , checked: userPermissions.exportPermissions.elementIds !== undefined}]"
                (checkedValueChange)="onExportElementsSelection($event)" />
              <div *ngIf="userPermissions.exportPermissions.elementIds">
                <app-element-selector-multiple [id]="'elements'"
                  [(selectedIds)]="userPermissions.exportPermissions.elementIds" />
              </div>
            </div>

            <div class="mt-2">
              <div>Interval:</div>
              <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'interval_export_permissions'"
                [groupItems]=" [
                                { label:'All', checked: userPermissions.exportPermissions.intervals === undefined }, 
                                { label:'Select', checked: userPermissions.exportPermissions.intervals !== undefined }]" (checkedValueChange)="onExportIntervalsSelection($event)" />
              <div *ngIf="userPermissions.exportPermissions.intervals">
                <app-interval-selector-multiple [id]="'intervals'"
                  [(selectedIds)]="userPermissions.exportPermissions.intervals" />
              </div>
            </div>

            <div class="mt-2">
              <app-edit-user-permissions-duration [groupName]="'export_data_observation_period'"
                [(observationPeriod)]="userPermissions.exportPermissions.observationPeriod" />
            </div>

            <div class="mt-2">
              <div>Quality Control Status:</div>
              <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'qcs_export_permissions'" [groupItems]="[
                                { label:'All', checked: userPermissions.exportPermissions.qcStatuses === undefined }, 
                                { label:'Select', checked: userPermissions.exportPermissions.qcStatuses !== undefined }
                                ]" (checkedValueChange)="onExportQcSelection($event)" />
              <div *ngIf="userPermissions.exportPermissions.qcStatuses">
                <!-- TODO. Use a multiple selector -->
                <!-- <app-qc-status-selector-single [id]="'qc'"
                  [(selectedId)]="userPermissions.exportPermissions.qcStatuses" /> -->
              </div>
            </div>

          </div>
        </div>

        <div class="mt-2">
          <div>Select Export Template:</div>
          <div>
            <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'export_template_ids_permissions'" [groupItems]="[ 
              { label:'All', checked: userPermissions.exportPermissions.exportTemplateIds === undefined},  
              { label:'Select', checked: userPermissions.exportPermissions.exportTemplateIds  !== undefined}]"
              (checkedValueChange)="onExportTemplateSelection($event)" />

            <app-export-specification-selector-multiple *ngIf="userPermissions.exportPermissions.exportTemplateIds"
              [id]="'exportIdPermissions'" [(selectedIds)]="userPermissions.exportPermissions.exportTemplateIds" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>