<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onOptionsClicked('Add Form')">
        Add Form
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
        (click)="onOptionsClicked('Add Import')">
        Add Import
      </button>
      <div class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="['Delete All']"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>
      <div *ngIf="sources" class="d-flex mx-2">
        [{{ sources.length | number:'1.0-0' }}]
      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-hover table-sm">
        <colgroup>
          <col style="width: 2%;" />
          <col style="width: 16%;" />
          <col style="width: 6%;" />
          <col style="width: 53%;" />
          <col style="width: 5%;" />
          <col style="width: 18%;" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Disabled</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="app-cursor-pointer" *ngFor="let source of sources">
            <td (click)="onEditSource(source)"><i class="bi bi-arrow-right-short"></i></td>
            <td (click)="onEditSource(source)">{{ source.name }}</td>
            <td (click)="onEditSource(source)">{{ source.sourceTypeName }}</td>
            <td (click)="onEditSource(source)">{{ source.description }}</td>
            <td (click)="onEditSource(source)">{{ source.disabled? 'Yes': 'No' }}</td>
            <td>
              <div *ngIf="source.sourceType === 'form' " class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                  (click)="onAssignStationsClicked(source)">Allocate/Deallocate Stations</button>
                <div class="ms-2">{{ source.assignedStations }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-stations-search-dialog #appSearchAssignedStations (searchedIdsChange)="onAssignFormToStationsInput($event)" />
  </div>
</div>