<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm"
        (click)="dlgQcEdit.showDialog()">
        Add
      </button>
      <div class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm"
          (click)="dlgSearchElements.showDialog(searchedIds)">
          Search
        </button>
        <app-elements-search-dialog #dlgSearchElements (searchedIdsChange)="onSearchInput($event)" />
      </div>
      <div class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>
      <div *ngIf="elementQCTestParams" class="d-flex mx-2">
        [{{ elementQCTestParams.length | number:'1.0-0' }}]
      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-hover table-sm">
        <colgroup>
          <col style="width: 2%;" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Element</th>
            <th>Level</th>
            <th>Interval</th>
            <th>Type</th>
            <th>Parameters</th>
            <th>Disabled</th>
          </tr>
        </thead>
        <tbody>
          <tr class="app-cursor-pointer" *ngFor="let qcTestParam of elementQCTestParams"
            (click)="isSystemAdmin? dlgQcEdit.showDialog(qcTestParam.id): ''">
            <td><i class="bi bi-arrow-right-short"></i></td>
            <td>{{ qcTestParam.name }}</td>
            <td>{{ qcTestParam.elementId + '-' + qcTestParam.elementName }}</td>
            <td>{{ qcTestParam.observationLevel }}</td>
            <td>{{ qcTestParam.observationIntervalName }}</td>
            <td>{{ qcTestParam.qcTestTypeName }}</td>
            <td>{{ qcTestParam.formattedParameters }}</td>
            <td>{{ qcTestParam.disabled? 'Yes': 'No' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-qc-test-input-dialog #dlgQcEdit />
  </div>
</div>