<div *ngIf="groupedEntries && groupedEntries.length>0 && elements && elements.length>0" class="app-table-container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th *ngIf="!(stationIds && stationIds.length > 0)">Station</th>
                <th *ngIf="level === undefined">Level</th>
                <th>Date Time</th>
                <th *ngIf="!(intervals && intervals.length > 0)">Interval</th>
                <th *ngIf="!(sourceIds && sourceIds.length > 0)">Source</th>
                <th *ngFor="let element of elements; let i = index;">{{ element.elementAbbrv }}</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let obsEntries of groupedEntries; let firstIndex = index;">
                <!-- <td>{{ getRowNumber(i) }}</td> -->
                <td *ngIf="!(stationIds && stationIds.length > 0)">
                    {{ obsEntries.stationId + '-' + obsEntries.stationName }}
                </td>
                <td *ngIf="level === undefined">
                    {{ obsEntries.level }}
                </td>
                <td>
                    {{ obsEntries.formattedDatetime }}
                </td>
                <td *ngIf="!(intervals && intervals.length > 0)">
                    {{ obsEntries.intervalName }}
                </td>
                <td *ngIf="!(sourceIds && sourceIds.length > 0)">
                    {{ obsEntries.sourceName }}
                </td>
                <td *ngFor="let element of elements; let secondIndex = index;">
                    <div *ngIf="hasElementValue(element.elementId,obsEntries.elementValues)"
                        class="px-2 app-value-flag-container">
                        <app-value-flag-input [id]="firstIndex + '_' + secondIndex +'_' + '_vf'"
                            [displayExtraInfoOption]="true"
                            [observationDefinition]="getElementValue(element.elementId,obsEntries.elementValues).obsDef"
                            [disableValueFlagEntry]="getElementValue(element.elementId,obsEntries.elementValues).delete"
                            (valueChange)="onUserInput()" />
                    </div>
                </td>
                <!-- <td>
                    <app-check-box-input [id]="i + '_delete'" [(value)]="obsEntry.delete"
                        (valueChange)="onUserInput()" />
                </td> -->

            </tr>
        </tbody>
    </table>
</div>