<div>
    <table class="table table-sm ms-2">
        <thead>
            <tr>
                <th>File Source Pattern</th>
                <th>Database Source</th>
                <th>Station</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ftpSpecifications; let i = index;">
                <td>
                    <app-text-input [id]="i + '_file_source_pattern_specification'" [(value)]="item.filePattern" />
                </td>
                <td>
                   TODO Database import source selector
                </td>

                <td>
                    <app-station-selector-single [id]="i + '_station_id_specification'" />
                </td>

                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        Remove Icon
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>