<!-- show drop down when there is a click event or when the user is typing on the input. Note user may navigate using tab or enter keys -->
<app-text-input [id]="id" [label]="label" [placeholder]="placeholder" [readonly]="true" [displayDropDownOption]="true"
    [displayCancelOption]="true" [errorMessage]="errorMessage" [value]="displaySelectedOptions"
    (displayCancelOptionClick)="onCancelOptionClick()" (dropDownDisplayed)="onDropDownDisplayed()">
    <div *ngIf="filteredOptions" class="card">
        <div class="card-body p-0">
            <div class="p-1">
                <app-text-input #appMultipleSelectorSearchInput [id]="id +'_' + label + '_' + '_multiple_search_control'"
                    [placeholder]="'search'" [displaySearchOption]="displayAdvancedSearchOption"
                    [simulateTabOnEnter]="false" (valueChange)="onSearchInput($event);"
                    (displaySearchOptionClick)="onAdvancedSearchClick()"
                    (inputEnterKeyPress)="onSearchEnterKeyPress()" />
            </div>
            <div class="list-group rounded-0">
                <button type="button" class="list-group-item list-group-item-action"
                    [class.list-group-item-primary]="isSelectedOption(option)" *ngFor="let option of filteredOptions"
                    (click)="onSelectedOption(option)">
                    {{ optionDisplayFn(option) }}</button>
            </div>
        </div>
    </div>
</app-text-input>