<div *ngIf="viewSource" class="card border-0">
    <div class="card-body px-0">
        <!--form name -->
        <div>
            <app-text-input [label]="'Name'" [(value)]="viewSource.name" />
        </div>

        <hr class="border border-secondary border-1">

        <!--form description -->
        <div>
            <app-text-input [label]="'Description'" [(value)]="viewSource.description" />
        </div>

        <hr class="border border-secondary border-1">

        <!--entry selectors-->
        <div>
            <app-selector-multiple-input [label]="'Extra Selectors'" [errorMessage]="selectorsErrorMessage"
                [options]="possibleSelectors" [selectedOptions]="selectedSelectors"
                (selectedOptionsChange)="onSelectorsSelected($event)" />
        </div>

        <hr class="border border-secondary border-1">

        <!--entry fields-->
        <div>
            <app-selector-multiple-input [label]="'Fields'" [errorMessage]="fieldsErrorMessage"
                [options]="possibleFields" [selectedOptions]="selectedFields"
                (selectedOptionsChange)="onFieldsSelected($event)" />
        </div>

        <hr class="border border-secondary border-1">

        <!--layout -->
        <div>
            <app-text-input [label]="'Layout'" [disabled]="true" [value]="selectedLayout" />
        </div>

        <hr class="border border-secondary border-1">

        <!--elements-->
        <div>
            <app-element-selector-multiple [errorMessage]="elementsErrorMessage" [(selectedIds)]="selectedElementIds" />
        </div>

        <hr class="border border-secondary border-1">

        <!--period-->
        <div>
            <app-period-single-input [label]="'Period'" [includeOnlyIds]="[60, 180, 360, 720, 1440]"
                [selectedId]="selectedPeriodId" (selectedIdChange)="onPeriodSelected($event)" />
        </div>

        <hr class="border border-secondary border-1">

        <!--hours-->
        <div>
            <app-hour-multiple-input [label]="'Hour(s)'" [errorMessage]="hoursErrorMessage"
                [selectedIds]="selectedHourIds" (selectedIdsChange)="onHoursSelected($event)" />
        </div>

        <hr class="border border-secondary border-1">

        <!--UTC Offset-->
        <div>
            <app-number-input [label]="'UTC Offset'" [(numValue)]="utcDifference" />
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <app-check-box-input [label]="'Allow Missing Values'" [(value)]="allowMissingValue" />
        </div>

        <hr class="border border-secondary border-1">

        <!--Total-->
        <div>
            <app-check-box-input [label]="'Require Total Input'" [(value)]="requireTotalInput" />
        </div>

        <div *ngIf="errorMessage">
            <hr class="border border-secondary border-1">

            <!-- TODO. link the error to individual controls and possibly use bootstrap alert component-->
            <div style="color: red;">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Save
        </button>
        <button *ngIf="viewSource && viewSource.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger"
            (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>