<div class="card-body px-0">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-secondary me-1"
            (click)="dlgFormEdit.openDialog(undefined, formIds, false)">Edit</button>                    

        <app-form-selector-dialog #dlgFormEdit [okButtonLabel]="'Save'"
            (ok)="onFormsEdited($event)"/>                   

    </div>

    <div class="px-3">
        <app-table-view
            [columnsData]="[  {id: 'name', name: 'Name'}, {id: 'description', name: 'Description'}  ]"
            [rowsData]="forms"/>
    </div>


</div>