<app-text-input *ngIf="observation" [id]="id" [label]="label"
    [includeDropDownOption]="true" [value]="displayedValueFlag" [dropDownOptionMaxHeight]="300"
    [errorMessage]="validationResults? validationResults.message: ''" (valueChange)="onInputEntry($event)"
    (inputEnterKeyPress)="onEnterKeyPressed()" (inputBlur)="onInputBlur()"
    >

    <div class="card">
        <div class="card-body">

            <div class="mb-3">
                <app-text-input [label]="'New Comment'" (valueChange)="onCommentEntry( $event)"></app-text-input>
            </div>

            <div>
                <div>History</div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Value</th>
                            <th scope="col">Flag</th>
                            <th scope="col">Period</th>
                            <th scope="col">QC</th>
                            <th scope="col">User</th>
                            <th scope="col">Time</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of getLogs(observation) ">
                            <td>{{ row.value }}</td>
                            <td>{{ row.flag }}</td>
                            <td>{{ row.period }}</td>
                            <td>{{ row.qcStatus }}</td>
                            <td>{{ row.entryUser }}</td>
                            <td>{{ row.entryDateTime }}</td>
                            <td>{{ row.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</app-text-input>