.dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500; // 1500 chosen because we want dialogs to have the highest z-index with the exception of the toast
}

.dialog-container {
  margin-left: 10px;
  margin-right: 10px;
}

.max-vh-80 {
  max-height: 80vh; // Some content may be long so always limit to 80vh at most
}

.min-vw-50 {
  min-width: 50vw; // TODO. Counter check if this applies in mobile phones
}