<div *ngIf="periodDefinition">
    <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'periodStatus'"
        [groupItems]="[{ label:'Includes Period', checked: periodDefinition.columnPosition !== undefined}, { label:'Does Not Include Period', checked: periodDefinition.defaultPeriod !== undefined}]"
        (checkedValueChange)="onPeriodStatusSelection($event)" />

    <div class="ms-4">

        <app-number-input *ngIf="periodDefinition.columnPosition !== undefined"
            [label]="'Column Position (values in minutes)'" [(numValue)]="periodDefinition.columnPosition" />

        <app-period-single-input *ngIf="periodDefinition.defaultPeriod !== undefined" [label]="'Default Period'"
            [selectedId]="periodDefinition.defaultPeriod" (selectedIdChange)="onPeriodSelected($event)" />

    </div>

</div>