<div *ngIf="observationsEntries" class="app-table-container">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Station</th>
                <th>Element</th>
                <th>Level</th>
                <th>Date Time</th>
                <th>Interval</th>
                <th>Source</th>
                <th>Value & Flag</th>
                <th>Comment</th>
                <th>QC Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obsEntry of observationsEntries; let i = index;"
                [class.group-row-border]="includeLowerBoundaryLine(i)">
                <td>{{ getRowNumber(i) }}</td>
                <td>{{ obsEntry.observation.stationId + '-' + obsEntry.stationName }}</td>
                <td>{{ obsEntry.observation.elementId + '-' + obsEntry.elementAbbrv }}</td>
                <td>{{ obsEntry.observation.level }}</td>
                <td>{{ obsEntry.formattedDatetime }}</td>
                <td>{{ obsEntry.intervalName }}</td>
                <td>{{ obsEntry.sourceName }}</td>
                <td>
                    <div class="app-value-flag-container">
                        <app-value-flag-input [id]="i + '_vf'" [displayExtraInfoOption]="true" [scaleValue]="false"
                            [observationEntry]="obsEntry" [disableValueFlagEntry]="obsEntry.delete"
                            (userInputVF)="onUserInput($event)" />
                    </div>
                </td>
                <td>{{ obsEntry.observation.comment }}</td>
                <td>{{ obsEntry.observation.qcStatus }}</td>
                <td>
                    <app-check-box-input [id]="i + '_delete'" [value]="obsEntry.delete"
                        (valueChange)="onUserDeleteClick(obsEntry)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>