<div *ngIf="stationsSelections" class="app-table-container" style="max-height: 300px;">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider overflow-y-scroll">
            <tr *ngFor="let item of stationsSelections" class="cursor-pointer" [class.table-primary]="item.selected"
                (click)="onSelected(item)">
                <td><i class="bi bi-cursor"></i></td>
                <td>{{ item.station.id }}</td>
                <td>{{ item.station.name }}</td>
                <td>{{ item.station.statusName }}</td>
            </tr>
        </tbody>
    </table>
</div>