<div *ngIf="allSelections">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Obs Method</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody class="table-group-divider overflow-y-scroll">
            <tr *ngFor="let item of allSelections">
                <td>{{ item.station.id }}</td>
                <td>{{ item.station.name }}</td>
                <td>{{ item.station.stationObsProcessingMethod }}</td>
                <td>{{ item.station.status }}</td>
                <td>
                    <app-check-box-input [id]="'stn_search_' + item.station.id"
                        (valueChange)="onSelected(item, $event)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>