<ng-container *ngIf="viewExportSpecification && open">
    <app-dialog [(open)]="open" [title]="title"
        [firstButtonOptions]="{label: 'Submit', color: 'primary', closeDialogOnClick: false}"
        (firstButtonClick)="onSave()"
        [secondButtonOptions]="viewExportSpecification.id > 0 ? {label: 'Delete', color: 'danger', closeDialogOnClick: false} : undefined"
        (secondButtonClick)="onDeleteButtonClick()"
        [thirdButtonOptions]="{label: 'Cancel', color: 'secondary', closeDialogOnClick: true}">

        <div>
            <app-text-input [label]="'Name'" [(value)]="viewExportSpecification.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewExportSpecification.description" />
        </div>

        <hr />

        <div>
            <app-export-type-selector-single [label]="'Export Type'" [selectedId]="viewExportSpecification.exportType"
                (selectedIdChange)="onExportTypeChange($event)" />
        </div>

        <hr />

        <!-- Parameters Section -->
        <ng-container *ngIf="viewExportSpecification.exportType === 'raw'">
            <app-raw-export-params [rawExportParameters]="rawParams" />
        </ng-container>

        <ng-container *ngIf="viewExportSpecification.exportType === 'dissemination'">
            <app-wis2box-export-params [wis2BoxExportParameters]="wis2BoxParams" />
        </ng-container>

        <ng-container *ngIf="viewExportSpecification.exportType === 'aggregate'">
            <div class="card">
                <div class="card-header">Aggregate Export Parameters</div>
                <div class="card-body text-info">
                    Aggregate export parameters will be available in a future release.
                </div>
            </div>
        </ng-container>

        <hr />

        <div>
            <app-adapter-specification-selector-single [label]="'Post-Export Adapter (optional)'"
                [placeholder]="'No adapter'" [(selectedId)]="viewExportSpecification.adapterId"
                [displayCancelOption]="true" />
            <div class="form-text text-muted">
                If set, the adapter script will process the exported file before delivering it to the user.
            </div>
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Disable'" [(value)]="viewExportSpecification.disabled" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewExportSpecification.comment" />
        </div>

    </app-dialog>

    <app-confirmation-dialog #dlgSaveConfirm [title]="'Save Export Specification'" [okButtonLabel]="'Yes'"
        [cancelButtonLabel]="'No'" (okConfirmed)="onSaveConfirm()" [displayCannotBeUndone]="false">
        <p>
            Are you sure you want to save the export specification <strong>{{ viewExportSpecification.name }}</strong>?
        </p>
    </app-confirmation-dialog>

    <app-confirmation-dialog #dlgDeleteConfirm [title]="'Delete Export Specification'" [okButtonLabel]="'Yes'"
        [cancelButtonLabel]="'No'" (okConfirmed)="onDeleteConfirm()" [displayCannotBeUndone]="true">
        <p>
            Are you sure you want to delete the export specification <strong>{{ viewExportSpecification.name
                }}</strong>?
        </p>
    </app-confirmation-dialog>
</ng-container>