<app-dialog *ngIf="viewExportSpecification" [(open)]="open" [title]="title" [okButtonLabel]="'Submit'"
    [displayDeleteOption]="viewExportSpecification && viewExportSpecification.id > 0" [closeOnOkClick]="false"
    (okClick)="onSubmitClick()" (deleteClick)="onDeleteClick()">

    <div>
        <app-text-input [label]="'Name'" [(value)]="viewExportSpecification.name" />
    </div>

    <hr />

    <div>
        <app-text-input [label]="'Description'" [(value)]="viewExportSpecification.description" />
    </div>

    <hr />

    <div>
        <app-export-type-selector-single [label]="'Export Type'" [selectedId]="viewExportSpecification.exportType"
            (selectedIdChange)="onExportTypeChange($event)" />
    </div>

    <hr />

    <!-- Parameters Section -->
    <app-raw-export-params *ngIf="viewExportSpecification.exportType === 'raw'" [rawExportParameters]="rawParams" />

    <app-bufr-export-params *ngIf="viewExportSpecification.exportType === 'bufr'" [bufrExportParameters]="bufrParams" />

    <div *ngIf="viewExportSpecification.exportType === 'aggregate'" class="card">
        <div class="card-header">Aggregate Export Parameters</div>
        <div class="card-body text-info">
            Aggregate export parameters will be available in a future release.
        </div>
    </div>

    <hr />

    <div>
        <app-check-box-input [label]="'Disable'" [(value)]="viewExportSpecification.disabled" />
    </div>

    <hr />

    <div>
        <app-text-input [label]="'Comment'" [(value)]="viewExportSpecification.comment" />
    </div>

    <div *ngIf="errorMessage">
        <hr />
        <div class="text-danger">
            {{ errorMessage }}
        </div>
    </div>

</app-dialog>