.product-card {
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.1s;

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        transform: translateY(-2px);
    }
}
