<div>
    <div>
        <div class="d-flex justify-content-end">
            <app-drop-down-button [buttonText]="'Options'"
                [dropDownItems]="['Filter','Select All', 'Deselect All', 'Sort Selected']"
                (dropDownOptionClick)="onOptionClick($event)" [translateX]="false" />
        </div>
        <div>
            <app-text-input [id]="'station_search_input'" [label]="'Search'" (valueChange)="onSearch($event)" />
        </div>
    </div>
  
    <hr />

    <div>       
        <div class="d-flex justify-content-end pe-1">
            Selected: {{ selectedCount | number:'1.0-0' }}
        </div>

        <div class="stations-table pe-1">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider overflow-y-scroll">
                    <tr *ngFor="let item of stationsSelections">
                        <td>{{ item.station.id }}</td>
                        <td>{{ item.station.name }}</td>
                        <td>
                            <app-check-box-input [id]="'stn_search_' + item.station.id" [value]="item.selected"
                                (valueChange)="onSelected(item, $event)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    <div>
        <app-check-box-input [id]="'save_station_search'" [label]="'Save Search'" [(value)]="saveSearch" />
        <div *ngIf="saveSearch" class="ms-2">
            <app-text-input [id]="'station_search_save'" [value]="defaultSearchName" (valueChange)="onSearchNameInput($event)" />
        </div>
    </div>


    <!-- <div class="card-title fw-bold">Search By:</div>
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action px-0" (click)="onShowComponent('id_name')">
                <i class="bi bi-arrow-right-short"></i> ID/Name
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_method')">
                <i class="bi bi-arrow-right-short"></i> Observation Method
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_environment')">
                <i class="bi bi-arrow-right-short"></i> Observation Environment
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0" (click)="onShowComponent('obs_focus')">
                <i class="bi bi-arrow-right-short"></i> Observation Focus
            </button>
            <button type="button" class="list-group-item list-group-item-action px-0"
                (click)="onShowComponent('obs_status')">
                <i class="bi bi-arrow-right-short"></i> Status
            </button>
        </div> -->



</div>