<div *ngIf="networkAffiliations" class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">

    <div class="d-flex align-items-center">
      <div class="d-flex mx-2">
        Count: {{ networkAffiliations.length | number:'1.0-0' }}
      </div>
      <!-- <button type="button" class="btn btn-outline-secondary btn-sm me-2 " (click)="onSearch()">
        Search
      </button> -->
      <div>
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>

      <!-- <app-import-regions-dialog [open]="optionClicked === 'Import'" (ok)="onOptionsDialogClosed()"
        (cancelClick)="onOptionsDialogClosed()" /> -->

    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-hover table-sm">
        <colgroup>
          <col style="width: 2%;" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Parent Network</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="app-cursor-pointer" *ngFor="let network of networkAffiliations">
            <td (click)="onEditNetworkAffiliation(network)"><i class="bi bi-arrow-right-short"></i></td>
            <td (click)="onEditNetworkAffiliation(network)">{{ network.name }}</td>
            <td (click)="onEditNetworkAffiliation(network)">{{ network.description }}</td>
            <td (click)="onEditNetworkAffiliation(network)">{{ network.parentNetworkName }}</td>
            <td>
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                  (click)="onAssignStationsClicked(network)">Assign Stations</button>
                <div class="ms-2">{{ network.assignedStations }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-stations-search-dialog #appSearchAssignedStations
      (searchedIdsChange)="onAssignNetworkToStationsInput($event)" />
  </div>
</div>