<!-- For large screens, use the grid system and
    split the controls definitions into chunks of columns that have rows arranged from top to bottom -->
<div *ngIf="largeScreen && controlsDefinitionsChuncks" class="row g-2">
  <div class="col" *ngFor="let chunkArray of controlsDefinitionsChuncks">
    <div class="row mb-2" *ngFor="let controlDefinition of chunkArray">
      <app-value-flag-input [smallSize]="true" [elements]="elements" [flags]="flags"
        [controlDefinition]="controlDefinition" (valueChange)="onValueChange($event)"></app-value-flag-input>
    </div>
  </div>
</div>

<!-- For small screens, just use a flex container that's a column -->
<div *ngIf="!largeScreen && controlsDefinitions" class="d-flex flex-column">
  <app-value-flag-input class="mb-2" *ngFor="let controlDefinition of controlsDefinitions" [smallSize]="false"
    [elements]="elements" [flags]="flags" [controlDefinition]="controlDefinition"
    (valueChange)="onValueChange($event)"></app-value-flag-input>
</div>