<div class="card border-0">
  <div class="card-header d-flex justify-content-between p-0 align-items-center">
    <div class="fw-bold">Showing data sources</div>
    <div class="mb-1">
      <app-drop-down-button [dropDownItems]="['Form','Import']" (dropDownOptionClick)="onNewSource($event)"
        [translateX]="true">New</app-drop-down-button>
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view [clickable]="true"
      [columnsData]="[ {id: 'name', name: 'Name'} , {id: 'sourceTypeName', name: 'Type'}, {id: 'description', name: 'Description'} ]"
      [rowsData]="sources" (rowDataClicked)="onSourceClicked($event)" />
  </div>
</div>