<div *ngIf="viewSource" class="card border-0">
    <div class="card-body px-0">

        <!-- name -->
        <div class="mb-3">
            <app-text-input [label]="'Name'" [(value)]="viewSource.name" />
        </div>
        <!--------->

        <hr />

        <!-- description -->
        <div class="mb-3">
            <app-text-input [label]="'Description'" [(value)]="viewSource.description" />
        </div>

        <hr />

        <div class="mb-3">
            <app-data-structure-input [label]="'Data Structure Type'" [selectedId]="importSource.dataStructureType"
                (selectedIdChange)="onDataStructureTypeSelected($event)" />
        </div>

        <div *ngIf="importSource.dataStructureType === 'tabular'">
            <hr />

            <!--Rows To Skip -->
            <div class="mb-3">
                <app-number-input [label]="'Rows to Skip'" [(numValue)]="tabularImportSource.rowsToSkip" />
            </div>

            <hr />

            <!--Delimeters-->
            <div class="mb-3">
                <app-import-source-delimeter-detail [(delimiter)]="tabularImportSource.delimiter" />
            </div>

            <hr class="border border-secondary border-1">

            <!--Station-->
            <div class="mb-3">
                <app-import-source-station-detail [(stationDefinition)]="tabularImportSource.stationDefinition" />
            </div>

            <hr />

            <!--Elements-->
            <div class="mb-3">
                <app-import-source-element-detail
                    [elementDefinition]="tabularImportSource .elementDefinition" (elementDefinitionChange)="onElementOrDatetimeDefChanged()" />
            </div>

            <hr />

            <!--Date time-->
            <div class="mb-3">
                <app-import-source-date-detail [datetimeDefinition]="tabularImportSource.datetimeDefinition" (datetimeDefinitionChange)="onElementOrDatetimeDefChanged()" />
            </div>

            <hr />

            <!--Interval-->
            <div class="mb-3">
                <app-import-source-interval-detail [intervalDefinition]="tabularImportSource.intervalDefinition" />
            </div>

            <hr />

            <!--level-->
            <div class="mb-3">
                <app-import-source-level-detail [(levelColumnPosition)]="tabularImportSource.levelColumnPosition" />
            </div>

            <hr />

            <!--value-->
            <div class="mb-3">
                <app-import-source-value-detail [(valueDefinition)]="tabularImportSource.valueDefinition"  />
            </div>

            <hr />

            <!--UTC Offset -->
            <div class="mb-3">
                <app-number-input [label]="'UTC Offset'" [(numValue)]="viewSource.utcOffset" />
            </div>

            <hr />

            <!--Missing Values-->
            <div class="mb-3">
                <app-import-source-missing-flag-detail [allowMissingValue]="viewSource.allowMissingValue"
                    [sourceMissingValueFlags]="importSource.sourceMissingValueFlags" />
            </div>

            <hr />

            <!--Scale values -->
            <div class="mb-3">
                <app-check-box-input [label]="'Scale Values (e.g 101 to 10.1)'" [(value)]="viewSource.scaleValues" />
            </div>
        </div>

        <hr class="border border-secondary border-1">
        <div>
            <div class="mb-2">
                <app-check-box-input [label]="'Attach Template Script (SQL or Python)'" [(value)]="tempScript" />
            </div>
            <div *ngIf="tempScript" class="d-flex flex-column align-items-center">
                <div class="fw-bold">Scripts will be supported in the next version release</div>
                <div class="text-info">
                    Scripts will enable import of odd file structures not supported by Climsoft
                    <br /> The attached script will be executed to produce the the import template that you configure to
                    import.
                </div>
            </div>
        </div>


        <hr class="border border-secondary border-1">

        <div>
            <app-check-box-input [label]="'Disable'" [(value)]="viewSource.disabled" />
        </div>

        <hr class="border border-secondary border-1">

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewSource.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr class="border border-secondary border-1">

            <!-- TODO. link the error to individual controls and possibly use bootstrap alert component-->
            <div style="color: red;">
                {{ errorMessage }}
            </div>
        </div>

    </div>


    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Submit
        </button>
        <button *ngIf="viewSource && viewSource.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger"
            (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>