<app-dialog [(open)]="open" [title]="title" [displayDeleteOption]="updateQcTest && updateQcTest.id > 0"
    (okClick)="onOkClick()" (deleteClick)="onDeleteClick()">

    <div *ngIf="updateQcTest">
        <div>
            <app-qc-test-type-input [selectedId]="updateQcTest.qcTestType"
                (selectedIdChange)="onQCTestTypeSelected($event)" />
        </div>

        <div class="mt-2">
            <app-period-single-input [label]="'Observation Interval'" [(selectedId)]="updateQcTest.observationInterval" />
        </div>

        <div class="mt-2 card border-1">
            <div class="card-body">
                <div class="card-title">Parameters</div>
                <app-qc-test-range-threshold-params *ngIf="isRangeThreshold"
                    [rangeThresholdQCTestParameters]="rangeThresholdParam" />

                <app-qc-test-repeated-value-params *ngIf="isRepeatedValue"
                    [repeatedValueQCTestParameters]="rangerepeatedValueParam" />

                <app-qc-test-flat-line-params *ngIf="isFlatLine" [flatLineQCTestParameters]="flatLineParam" />

                <app-qc-test-spike-params *ngIf="isSpike" [spikeQCTestParameters]="spikeParam" />

                <app-qc-test-relational-params *ngIf="isRelationalComparison"
                    [relationalQCTestParameters]="relationalComparisonParam" />

                <app-qc-test-contextual-params *ngIf="isContextualConsistenty"
                    [contextualQCTestParameters]="contextualConsistentyParam" />
            </div>

        </div>

        <div class="mt-2">
            <app-check-box-input [label]="'Disable'" [(value)]="updateQcTest.disabled" />
        </div>
        <div class="mt-2">
            <app-text-input [label]="'Comment'" [(value)]="updateQcTest.comment" />
        </div>

    </div>

</app-dialog>