.job-detail-content {
    min-width: 500px;
}

.nav-link {
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 300px;
    overflow: auto;
}

.table th {
    background-color: #f8f9fa;
}
