

<!-- <div *ngIf="entryObservations && entryObservations.length > 0" class="row g-2">
    <div class="col d-flex flex-column">
        <div  class="row mb-2 d-flex flex-grow-1 align-items-center justify-content-center">
            TODO
        </div>
        <div class="row mb-2 d-flex flex-grow-1 align-items-center justify-content-center" *ngFor="let rowDef of rowFieldDefinitions">
            {{rowDef[1]}}
        </div>
    </div>
    <div class="col d-flex flex-column" *ngFor="let colDef of colFieldDefinitions">
        <div class="row mb-2 d-flex flex-grow-1  align-items-center justify-content-center">
            {{colDef[1]}}
        </div>
        <div class="row mb-2 d-flex flex-grow-1 align-items-center justify-content-center" *ngFor="let rowDef of rowFieldDefinitions">
            <app-value-flag-input [smallSize]="true" [id]="rowDef[0] +'-'+ colDef[0]" [elements]="elements"
                [flags]="flags" [observation]="getEntryObservation(rowDef,colDef)"
                (valueChange)="onValueChange($event)"></app-value-flag-input>
        </div>
    </div>
</div> -->




<table *ngIf="entryObservations && entryObservations.length >0" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>TODO</th>
            <th *ngFor="let col of colFieldDefinitions"> {{col[1]}} </th>
        </tr>
    </thead>

    <tbody class="table-group-divider">

        <tr *ngFor="let rowDef of rowFieldDefinitions">
            <td>{{rowDef[1]}}</td>
            <td *ngFor="let colDef of colFieldDefinitions">
                <div>
                    <app-value-flag-input [smallSize]="true" [id]="rowDef[0] +'-'+ colDef[0]" [elements]="elements"
                        [flags]="flags" [observation]="getEntryObservation(rowDef,colDef)"
                        (valueChange)="onValueChange($event)" (enterPressed)="focusNextInput(rowDef,colDef)"></app-value-flag-input>
                </div>

            </td>
        </tr>

    </tbody>
</table>