<ng-container *ngIf="open">
    <app-dialog [(open)]="open" [title]="'Data Availability'"
        [firstButtonOptions]="canGoBack ? {label: 'Back',  closeDialogOnClick: false, color: 'info'} : undefined"
        (firstButtonClick)="onBack()"
        [secondButtonOptions]="activeTab === 'viewdata' ? {label: 'Submit', disable: !enableSubmitButton , closeDialogOnClick: false, color: 'primary'} : undefined"
        (secondButtonClick)="onSubmit()"
        [thirdButtonOptions]="{label: 'Close', closeDialogOnClick: true, color: 'secondary'}">

        <!-- <div class="card-header d-flex justify-content-between align-items-center px-1 ">
        <ul class="nav nav-tabs card-header-tabs"> -->

        <div class="mb-2">
            <ul class="nav nav-tabs mb-0">
                <li *ngIf="!hideDrillDown" class="nav-item">
                    <button type="button" class="nav-link" [class.active]="activeTab === 'drilldown'"
                        (click)="onTabChange('drilldown')">
                        Drill Down
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" [class.active]="activeTab === 'viewdata'"
                        (click)="onTabChange('viewdata')">
                        View Data
                    </button>
                </li>
            </ul>
        </div>

        <div [hidden]="activeTab !== 'drilldown'">
            <app-data-availability-heatmap #heatmap (cellClick)="onCellClick($event)" />
        </div>
        <div [hidden]="activeTab !== 'viewdata'" style="min-height: 50vh;">
            <app-data-corrector #dataCorrector (userChanges)="onUserChanges($event)" />
        </div>

    </app-dialog>
</ng-container>