<div *ngIf="viewExportTemplate" class="card border-0">
    <div class="card-body px-0">
        <div>
            <app-text-input [label]="'Name'" [(value)]="viewExportTemplate.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewExportTemplate.description" />
        </div>

        <hr />

        <div>
            <app-export-type-selector-single [label]="'Export Type'" [(selectedId)]="viewExportTemplate.exportType" />
        </div>

        <hr />

        <!-- Raw Data Export -->
        <div *ngIf="viewExportTemplate.exportType === 'raw'">
            <div class="card">
                <div class="card-header">Data Filter Selections</div>
                <div class="card-body">
                    <div>
                        <div>Station:</div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'stationsStatus'"
                            [groupItems]="
                      [{ label:'All', checked: viewExportTemplate.parameters.stationIds === undefined }, 
                        { label:'Select', checked: viewExportTemplate.parameters.stationIds !== undefined }]"
                            (checkedValueChange)="onStationsStatusSelection($event)" />
                        <div *ngIf="viewExportTemplate.parameters.stationIds">
                            <app-station-selector-multiple [id]="'stations'"
                                [(selectedIds)]="viewExportTemplate.parameters.stationIds" />
                        </div>
                    </div>

                    <div class="mt-2">
                        <div>Element:</div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'elementsStatus'"
                            [groupItems]="
                      [{ label:'All', checked: viewExportTemplate.parameters.elementIds === undefined },  
                       { label:'Select' , checked: viewExportTemplate.parameters.elementIds !== undefined}]"
                            (checkedValueChange)="onElementsStatusSelection($event)" />
                        <div *ngIf="viewExportTemplate.parameters.elementIds">
                            <app-element-selector-multiple [id]="'elements'"
                                [(selectedIds)]="viewExportTemplate.parameters.elementIds" />
                        </div>
                    </div>

                    <div class="mt-2">
                        <div>Interval:</div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'intervalStatus'"
                            [groupItems]=" [
                                { label:'All', checked: viewExportTemplate.parameters.intervals === undefined }, 
                                { label:'Select', checked: viewExportTemplate.parameters.intervals !== undefined }]"
                            (checkedValueChange)="onIntervalsStatusSelection($event)" />
                        <div *ngIf="viewExportTemplate.parameters.intervals">
                            <app-interval-selector-multiple [id]="'intervals'"
                                [(selectedIds)]="viewExportTemplate.parameters.intervals" />
                        </div>
                    </div>

                    <div class="mt-2">
                        <div>Observation Date:</div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'rangeStatus'"
                            [groupItems]="
                      [
                       { label:'All', checked: viewExportTemplate.parameters.observationDate === undefined },  
                       { label:'Within' , checked: viewExportTemplate.parameters.observationDate && viewExportTemplate.parameters.observationDate.within  !== undefined},
                       { label:'From' , checked: viewExportTemplate.parameters.observationDate && viewExportTemplate.parameters.observationDate.fromDate !== undefined},
                       { label:'Last' , checked: viewExportTemplate.parameters.observationDate && viewExportTemplate.parameters.observationDate.last !== undefined}
                       ]" (checkedValueChange)="onDateStatusSelection($event)" />
                        <div *ngIf="viewExportTemplate.parameters.observationDate">

                            <div *ngIf="viewExportTemplate.parameters.observationDate.last !== undefined"
                                class="d-flex align-items-center">
                                <app-number-input [id]="'days'"
                                    [(numValue)]="viewExportTemplate.parameters.observationDate.last.duration" />
                                <div class="ms-2">
                                    <app-radio-buttons-input [inline]="true" [asButtons]="true"
                                        [groupName]="'lastDuration'" [groupItems]=" 
                                     [ 
                                         { label:'Days', checked: viewExportTemplate.parameters.observationDate.last.durationType === 'days'},   
                                         { label:'Hours' , checked: viewExportTemplate.parameters.observationDate.last.durationType === 'hours'}
                                     ]" (checkedValueChange)="onLastStatusSelection($event)" />
                                </div>
                            </div>

                            <div *ngIf="viewExportTemplate.parameters.observationDate.fromDate">
                                <app-date-input [id]="'from_date'"
                                    [value]="viewExportTemplate.parameters.observationDate.fromDate" />
                            </div>

                            <div *ngIf="viewExportTemplate.parameters.observationDate.within">
                                <div class="d-flex align-items-center ">
                                    <app-date-input [id]="'start_date'"
                                        [value]="viewExportTemplate.parameters.observationDate.within.startDate" />
                                    <div class="mx-2">To</div>
                                    <app-date-input [id]="'end_date'"
                                        [value]="viewExportTemplate.parameters.observationDate.within.endDate" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="mt-2">
                        <div>Quality Control Status:</div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'qcsStatus'"
                            [groupItems]="[
                                { label:'All', checked: viewExportTemplate.parameters.qcStatus === undefined }, 
                                { label:'Select', checked: viewExportTemplate.parameters.qcStatus !== undefined }
                                ]" (checkedValueChange)="onQcStatusSelection($event)" />
                        <div *ngIf="viewExportTemplate.parameters.qcStatus">
                            <app-qc-status-selector-single [id]="'qc'"
                                [(selectedId)]="viewExportTemplate.parameters.qcStatus" />
                        </div>
                    </div>

                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header">Data Processing Selections</div>
                <div class="card-body">
                    <div class="mt-2">
                        <app-check-box-input [label]="'Convert date time to display time zone'"
                            [(value)]="viewExportTemplate.parameters.convertDatetimeToDisplayTimeZone" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Split observation date time'"
                            [(value)]="viewExportTemplate.parameters.splitObservationDatetime" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Unstack data'"
                            [(value)]="viewExportTemplate.parameters.unstackData" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include flags'"
                            [(value)]="viewExportTemplate.parameters.includeFlags" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include quality control status'"
                            [(value)]="viewExportTemplate.parameters.includeQCStatus" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include quality control log'"
                            [(value)]="viewExportTemplate.parameters.includeQCLog" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include comments'"
                            [(value)]="viewExportTemplate.parameters.includeComments" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'include entry date time'"
                            [(value)]="viewExportTemplate.parameters.includeEntryDatetime" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include entry user email'"
                            [(value)]="viewExportTemplate.parameters.includeEntryUserEmail" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header">Metadata Selections</div>
                <div class="card-body">
                    <div>
                        <app-check-box-input [label]="'Include station name'"
                            [(value)]="viewExportTemplate.parameters.includeStationName" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include station location'"
                            [(value)]="viewExportTemplate.parameters.includeStationLocation" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include element name'"
                            [(value)]="viewExportTemplate.parameters.includeElementName" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include element units'"
                            [(value)]="viewExportTemplate.parameters.includeElementUnits" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Disable'" [(value)]="viewExportTemplate.disabled" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewExportTemplate.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr />
            <div class="text-danger">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Save
        </button>
        <button *ngIf="viewExportTemplate.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger"
            (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>