<div *ngIf="viewExportTemplate" class="card border-0">
    <div class="card-body px-0">
        <div>
            <app-text-input [label]="'Name'" [(value)]="viewExportTemplate.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewExportTemplate.description" />
        </div>

        <hr />

        <div>
            <app-export-type-selector-single [label]="'Export Type'" [(selectedId)]="viewExportTemplate.exportType" />
        </div>

        <hr />

        <!-- Raw Data Export -->
        <div *ngIf="viewExportTemplate.exportType === 'raw'">
            <div class="card">
                <div class="card-header">Data Processing Selections</div>
                <div class="card-body">
                    <div class="mt-2">
                        <app-check-box-input [label]="'Convert date time to display time zone'"
                            [(value)]="viewExportTemplate.parameters.convertDatetimeToDisplayTimeZone" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Split observation date time'"
                            [(value)]="viewExportTemplate.parameters.splitObservationDatetime" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Unstack data'" [disabled]="true"
                            [value]="viewExportTemplate.parameters.unstackData" (valueChange)="onUnstackData($event)" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include level'" [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeLevel" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include interval'" [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeInterval" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include flag'" [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeFlag" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include quality control status'"
                            [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeQCStatus" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include quality control test log'"
                            [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeQCTestLog" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include comments'" [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeComments" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'include entry date time'" [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeEntryDatetime" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include entry user email'"
                            [disabled]="disableStackedDataOpetions"
                            [(value)]="viewExportTemplate.parameters.includeEntryUserEmail" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="card">
                <div class="card-header">Metadata Selections</div>
                <div class="card-body">
                    <div>
                        <app-check-box-input [label]="'Include station name'"
                            [(value)]="viewExportTemplate.parameters.includeStationName" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include station location'"
                            [(value)]="viewExportTemplate.parameters.includeStationLocation" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include station elevation'"
                            [(value)]="viewExportTemplate.parameters.includeStationElevation" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include element abbreviation'"
                            [(value)]="viewExportTemplate.parameters.includeElementAbbreviation" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include element name'"
                            [(value)]="viewExportTemplate.parameters.includeElementName" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include element units'"
                            [(value)]="viewExportTemplate.parameters.includeElementUnits" />
                    </div>
                    <div class="mt-2">
                        <app-check-box-input [label]="'Include source name'"
                            [(value)]="viewExportTemplate.parameters.includeSourceName" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Disable'" [(value)]="viewExportTemplate.disabled" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewExportTemplate.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr />
            <div class="text-danger">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Submit
        </button>
        <button *ngIf="viewExportTemplate.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger"
            (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>