<app-dialog #passwordChangeDialog [title]="'Password Change'" [displayDeleteOption]="false" [(open)]="open" (okClick)="onOkClick()" >
    <div *ngIf="open" class="card border-0">
        <div class="card-body p-0">
           <div class="d-flex flex-column mb-2">
            <div>Email/Username:</div>
            <div class="fw-bold">{{userEmail}}</div>
           </div>
            <div class="mb-2">
                <app-text-input [type]="'password'" [label]="'New Password'" [(value)]="newPassword"/>
            </div>
            <div class="mb-2">
                <app-text-input [type]="'password'" [label]="'Confirm Password'"  [(value)]="confirmPassword" />
            </div>
            <div class="text-danger" *ngIf="newPassword !== confirmPassword ">Passwords should match</div>
        </div>
    </div>
</app-dialog>