<app-dialog #passwordChangeDialog [title]="'Change Password For: ' + userEmail" [displayDeleteOption]="false" [(open)]="open" (okClick)="onOkClick()" >
    <div class="card border-0">
        <div class="card-body">
            <div>
                <app-text-input [type]="'password'" [label]="'New Password'" [(value)]="newPassword"/>
            </div>
            <div class="mt-3">
                <app-text-input [type]="'password'" [label]="'Confirm Password'"  [(value)]="confirmPassword" />
            </div>
            <div class="mt-3 text-danger" *ngIf="newPassword !== confirmPassword ">Passwords should match</div>
        </div>
    </div>
</app-dialog>