<app-dialog [(open)]="open" [title]="title" [okButtonLabel]="'Ok'" (okClick)="onOkClick()"
  (cancelClick)="onCancelClick()">
  <ng-container *ngIf="qcParameters">
    <div>
      <app-query-selection [parentComponentName]="componentName" [includeDeletedData]="false"
        [displayStationSelector]="false" [displaySourceSelector]="false" [displayQueryButton]="false"
        [query]="qcParameters.observationFilter" />
    </div>
    <div>
      <div>Select Records to perform QC on: </div>
      <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'qcRecordsStatus'" [groupItems]=" [
                        { label:'All Records', checked: false },  
                        { label:'Records with no QC tests', checked: true},
                        { label:'Records that failed QC tests', checked: false},
                        { label:'Records that passed QC tests', checked: false}
                        ]" (checkedValueChange)="onRecordsSelectionChange($event)" />
    </div>
  </ng-container>
</app-dialog>