<!--uneditable selector-->
<div *ngIf="!editable">
  <label [htmlFor]="controlLabel">{{ controlLabel }}</label>
    <!-- setting min-width to 180px makes selector maintain minimum width even when empty -->
  <ng-select
    [id]="controlLabel"
    [items]="dataSource"
    [ngModel]="selectedObject"
    [multiple]="multiple"
    [closeOnSelect]="true"
    [searchable]="true"
    [clearable]="true"
    [virtualScroll]="true"
    [bindLabel]="displayMember"
    (change)="onValueChange($event)"
    style="min-width: 11.25rem;" 
    
  ></ng-select>
</div>

<!--editable selector-->
<!-- does not support multiple selection -->
<div *ngIf="editable && !multiple">
  <label [htmlFor]="controlLabel">{{ controlLabel }}</label>
  <input
    class="form-control"
    list="datalistOptions"
    [id]="controlLabel"  
    (input)="onValueChange($any($event.target).value)"
  />
  <datalist id="datalistOptions">
    <option *ngFor="let data of dataSource" [value]="data" [selected] = "value && data[valueMember] === value[valueMember]">
      {{ data[displayMember] }}
    </option>
  </datalist>
</div>
