<div class="card border-0 p-0">
    <div class="card-header mb-2 px-1 fw-bold">
        <app-toggle-chevron #queryContainerToggle [open]="true">Filter</app-toggle-chevron>
    </div>
    <div *ngIf="queryContainerToggle.open" class="card-body p-0 mt-2">
        <div class="d-flex justify-content-between align-items-end">
            <div class="row g-2 px-2">
                <div class="col-auto mb-2">
                    <app-station-selector-multiple [label]="'Stations'" [(selectedIds)]="stationIds"
                        [includeOnlyIds]="includeOnlyStationIds" />
                </div>

                <div class="col-auto mb-2">
                    <app-element-selector-single [label]="'Element'" [(selectedId)]="elementId" />
                </div>

                <div class="col-auto mb-2">
                    <app-number-input [label]="'Level'" [(numValue)]="level" />
                </div>

                <div class="col-auto mb-2">
                    <app-interval-selector-single [label]="'Interval'" [(selectedId)]="interval" />
                </div>

                <div class="col-auto mb-2">
                    <app-date-range-input [label]="'Observation Date'" [(value)]="dateRange" />
                </div>

            </div>

            <div>
                <button type="button" class="btn btn-outline-secondary btn-sm"
                    [disabled]=" !queryAllowed || !enableQueryButton " (click)="onQueryClick()">
                    Query
                </button>
            </div>
        </div>
    </div>
</div>