<ng-container *ngIf="groupName">
    <div class="form-check ps-0 ms-0 me-2" [class.form-check-inline]="inline"
        *ngFor="let item of groupItems; let i = index;">
        <input [class.ms-0]="!asButtons" [ngClass]="{'form-check-input': !asButtons , 'btn-check' : asButtons  }"
            type="radio" [id]="groupName+'_'+ item.label" [name]="groupName" [checked]="item.checked"
            (change)="onValueChange(i,$any($event.target).checked)">
        <label [class.ms-2]="!asButtons"
            [ngClass]="{'form-check-label': !asButtons , 'btn btn-sm btn-outline-secondary' : asButtons  }"
            [for]="groupName+'_'+item.label">{{ groupItemDisplayFn(item.label) }}</label>
    </div>
</ng-container>