<ng-container *ngIf="groupName">
    <div class="form-check" [class.form-check-inline]="inline" *ngFor="let item of groupItems; let i = index;">
        <input [ngClass]="{'form-check-input': !asButtons , 'btn-check' : asButtons  }" type="radio" [id]="item.label"
            [name]="groupName" [checked]="item.checked" (change)="onValueChange(i,$any($event.target).checked)">
        <label [ngClass]="{'form-check-label': !asButtons , 'btn btn-outline-secondary' : asButtons  }"
            [for]="item.label">{{item.label}}</label>
    </div>
</ng-container>