<div *ngIf="viewGeneralSetting" class="card border-0">

  <div class="card-body p-0">

    <div>
      <div class="mb-3">
        <app-label-input [label]="'Id'" [value]="viewGeneralSetting.id" />
      </div>

      <div class="mb-3">
        <app-label-input [label]="'Description'" [value]="viewGeneralSetting.description" />
      </div>
    </div>

    <div class="mt-2 card border-1">
      <div class="card-body">
        <div class="card-title">Parameters</div>

        <app-setting-1-params *ngIf="this.viewGeneralSetting.id === isDefaultMapView"
        [settings1Parameters]="setting1Param" />

      </div>
    </div>

  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0 mt-3">
    <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSaveClick()" [disabled]="!bEnableSave">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelClick()">Cancel</button>
  </div>

</div>