<div *ngIf="viewExportTemplate" class="card border-0">
   <div class="card-body px-0">
      <div *ngIf="!downloadLink">
         <div>
      
               <div>
                  <div class="row g-2 px-2">
                      <div class="col-auto mb-2">
                          <app-station-selector-multiple [label]="'Stations'" [(selectedIds)]="stationIds"
                              [includeOnlyIds]="includeOnlyStationIds" />
                      </div>
          
                      <div class="col-auto mb-2">
                          <app-element-selector-multiple [label]="'Elements'" [(selectedIds)]="elementIds" 
                          [includeOnlyIds]="includeOnlyElementIds"/>
                      </div>          
          
                      <div class="col-auto mb-2">
                          <app-interval-selector-multiple [label]="'Interval'" [(selectedIds)]="intervals" 
                          [includeOnlyIds]="includeOnlyIntervals"/>
                      </div>
          
                      <div class="col-auto mb-2">
                          <app-date-range-input [label]="'Observation Date'" [(value)]="dateRange" />
                      </div>
          
                  </div>
          
                  <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-primary btn-sm"   (click)="onGenerateExportClick()">
                          Generate Export
                      </button>
                  </div>
              </div>

         </div>
         <div *ngIf="!hidePreparingExport" class="mt-2">
            <div class="px-4 w-100">
               <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                  </div>
               </div>
            </div>
            <div class="mt-2 d-flex justify-content-center">
               Preparing data for export...
            </div>
         </div>
      </div>

      <div *ngIf="downloadLink" class="d-flex flex-column justify-content-center">
         <div *ngIf="!hideDownloadButton">
            <div class="d-flex justify-content-center">
               Export is now ready for download. Click the download button below to download the export.
            </div>
            <div class="d-flex  justify-content-center">
               <button type="button" class="btn btn-outline-secondary btn-sm"
                  (click)="elementDownloadLink.click(); onDownloadStarted();">
                  Download
               </button>
               <a [hidden]="true" #elementDownloadLink [href]="downloadLink"></a>
            </div>
         </div>
         <div *ngIf="hideDownloadButton" class="d-flex  justify-content-center">
            Downloading export. Check download status.
         </div>
      </div>


   </div>