<div *ngIf="elementQCTestParams" class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">

    <div class="d-flex align-items-center">
      <div class="d-flex mx-2">
        Count: {{ elementQCTestParams.length | number:'1.0-0' }}
      </div>
      <button type="button" class="btn btn-outline-secondary btn-sm me-2"
        (click)="appSearchAssignedStations.openDialog()">
        Search
      </button>
      <div>
        <app-drop-down-button [buttonText]="'Options'"
          [dropDownItems]="['Add', 'Order By Name', 'Order By Element Id', 'Order By Element Name','Delete All']"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <table class="table table-striped table-sm table-hover">
      <colgroup>
        <col style="width: 2%;" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Element</th>
          <th>Level</th>
          <th>Interval</th>
          <th>Type</th>
          <th>Parameters</th>
          <th>Disabled</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="app-cursor-pointer" *ngFor="let qcTestParam of elementQCTestParams"
          (click)="dlgQcEdit.openDialog(qcTestParam.id)">
          <td><i class="bi bi-arrow-right-short"></i></td>
          <td>{{ qcTestParam.name }}</td>
          <td>{{ qcTestParam.elementId + '-' + qcTestParam.elementName }}</td>
          <td>{{ qcTestParam.observationLevel }}</td>
          <td>{{ qcTestParam.observationIntervalName }}</td>
          <td>{{ qcTestParam.qcTestTypeName }}</td>
          <td>{{ qcTestParam.formattedParameters }}</td>
          <td>{{ qcTestParam.disabled? 'Yes': 'No' }}</td>
        </tr>
      </tbody>
    </table>
    <app-elements-search-dialog #appSearchAssignedStations />
    <app-qc-test-input-parameter-dialog #dlgQcEdit />
  </div>
</div>