<div *ngIf="viewSource" class="card border-0">
    <div class="card-body px-0">
        <div>
            <app-text-input [label]="'Name'" [(value)]="viewSource.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewSource.description" />
        </div>

        <hr />

        <div>
            <app-selector-multiple-input [label]="'Extra Selectors'" [errorMessage]="selectorsErrorMessage"
                [options]="possibleSelectors" [selectedOptions]="selectedSelectors"
                (selectedOptionsChange)="onSelectorsSelected($event)" />
        </div>

        <hr />

        <div>
            <app-selector-multiple-input [label]="'Fields'" [errorMessage]="fieldsErrorMessage"
                [options]="possibleFields" [selectedOptions]="selectedFields"
                (selectedOptionsChange)="onFieldsSelected($event)" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Layout'" [disabled]="true" [value]="selectedLayout" />
        </div>

        <hr />

        <div>
            <app-element-selector-multiple [label]="'Element(s)'" [errorMessage]="elementsErrorMessage"
                [(selectedIds)]="selectedElementIds" />
        </div>

        <hr />

        <div>
            <app-interval-selector-single [label]="'Interval'" [includeOnlyIds]="[60, 180, 360, 720, 1440, 2880]"
                [selectedId]="selectedIntervalId" (selectedIdChange)="onIntervalSelected($event)" />

        </div>

        <hr />

        <div>
            <app-hour-multiple-input [label]="'Hour(s)'" [errorMessage]="hoursErrorMessage"
                [selectedIds]="selectedHourIds" (selectedIdsChange)="onHoursSelected($event)" />
        </div>

        <hr />

        <div>
            <app-number-input [label]="'UTC Offset'" [(numValue)]="utcOffset" />
        </div>


        <hr />

        <div>
            <app-check-box-input [label]="'Allow Missing Values'" [(value)]="allowMissingValue" />
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Require Total Input'" [(value)]="requireTotalInput" />
        </div>

        <hr />
        
        <div>
            <app-check-box-input [label]="'Restrict Entry At Station Location Only'" [(value)]="allowEntryAtStationOnly" />
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Allow Station Selection'" [(value)]="allowStationSelection" />
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Allow Interval Editing'" [(value)]="allowIntervalEditing" />
        </div>

        <hr />

        <div>
            <app-check-box-input [label]="'Disable'" [(value)]="viewSource.disabled" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewSource.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr />
            <div class="text-danger">
                {{ errorMessage }}
            </div>
        </div>


    </div>

    <div class="card-footer bg-transparent d-flex justify-content-end px-0">
        <button type="button" class="me-1 btn btn-sm btn-outline-primary" (click)="onSave()">
            Save
        </button>
        <button *ngIf="viewSource.id > 0" type="button" class="me-1 btn btn-sm btn-outline-danger" (click)="onDelete()">
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>

</div>