<app-dialog [(open)]="open" [title]="title" [okButtonLabel]="okButtonLabel" (okClick)="onOkClick()">

    <table *ngIf="elements" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of elements" (click)="onElementClicked(element);" class="cursor-pointer">
                <td>{{ element.id }}</td>
                <td>{{ element.name }}</td>
                <td>{{ element.description }}</td>
                <td><input type="checkbox" class="form-check-input" [checked]="element.selected"></td>
            </tr>
        </tbody>
    </table>

</app-dialog>