<div>
    <app-check-box-input [label]="'Includes Flag'" [value]="flagDefinition !== undefined"
        (valueChange)="onIncludesFlag($event)" />
    <div class="ms-2" *ngIf="flagDefinition">
        <app-number-input [label]="'Column Position'" [(numValue)]="flagDefinition.flagColumnPosition" />

        <div class="mt-2">
            <app-check-box-input [label]="'Fetch Specific Flags'"
                [value]="flagDefinition.flagsToFetch !== undefined"
                (valueChange)="onFetchFlagsChange($event)" />

            <div *ngIf="flagDefinition.flagsToFetch" class="ms-2">
                <app-id-mapping-table [selectorType]="'flag'"
                    [mappings]="$any(flagDefinition.flagsToFetch)"
                    [defaultDatabaseId]="defaultFlagId"
                    [sourceLabel]="'Source ID'"
                    [databaseLabel]="'Database ID'"
                    (mappingsChange)="onMappingsChange($event)" />
            </div>
        </div>
    </div>
</div>
