.custom-drop-down {
    /* Show dropdown on top of other content */
    z-index: 10; 
    //transform: translate(-50%, 1%);
   
}

.min-w-100 {
    min-width: 100%;
  }

.translate-x{
    translate: -50% 1%;
}