.drop-down-container {
    position: absolute;
    overflow: auto;
    z-index: 1003;   /* Show dropdown on top of other content. Use 10003 instead of say 10002 because of leaflet and components on leaflet */
    min-width: 100%;
}

/* Used by drop downs that are located in the far right end */
.right-offset-drop-down-container {
    right: 10px;
}