<app-dialog [(open)]="open" [title]="'Search Elements'" [okButtonLabel]="'Ok'" (okClick)="onOkClick()">
    <div *ngIf="open" class="card border-0">

        <!-- tab header -->
        <div class="card-header d-flex">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button class="nav-link" [class.active]="activeTab === 'history'"
                        (click)="onTabClick('history')">History</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" [class.active]="activeTab === 'new'"
                        (click)="onTabClick('new')">New</button>
                </li>
            </ul>
        </div>

        <!-- selected tab contents -->
        <div class="card-body p-0">
            <div *ngIf="activeTab === 'history'">
                <div *ngIf="!previousSearches || previousSearches.length===0" class="mt-2">
                    No saved searches
                </div>
                <div *ngIf="previousSearches && previousSearches.length>0">
                    <ul class="list-group rounded-0 list-group-flush p-0 search-history-contents">
                        <li class="list-group-item list-group-item-action px-0 d-flex justify-content-between cursor-pointer"
                            *ngFor="let item of previousSearches"
                            [class.list-group-item-primary]="item.name === searchName"
                            (click)="onPreviousSearchSelected(item)">

                            <div class="me-2 d-flex">
                                <div class="me-1">
                                    <i class="bi bi-cursor"></i>
                                </div>
                                <div>
                                    {{ item.name }}
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="button" class="btn btn-outline-secondary btn-sm me-2"
                                    (click)="onEditPreviousSearch(item)">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="onDeletePreviousSearch(item)">
                                    Delete
                                </button>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="activeTab === 'new'">

                <div class="mt-2">
                    <!-- Search Input -->
                    <div class="flex-grow-1">
                        <app-text-input [id]="'station_search_input'" [label]="'Search'"
                            [placeholder]="'Type to search'" [simulateTabOnEnter]="false" [(value)]="searchValue"
                            (valueChange)="onSearchInput($event)" (inputEnterKeyPress)="onEnterKeyPress()" />
                    </div>

                    <!-- Sort and Select -->
                    <div class="mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_SELECTED)">
                                    Sort Selected
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_BY_ID)">
                                    Sort by ID
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_BY_NAME)">
                                    Sort by Name
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SELECT_ALL)">
                                    Select All
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.DESELECT_ALL)">
                                    Deselect All
                                </button>
                            </div>
                            <div class="mx-2 fw-bold" [class.text-success]="selectedIds.length > 0">
                                [{{ selectedIds.length | number:'1.0-0' }}]
                            </div>
                        </div>

                        <div #elementIdNameTableContainer class="app-table-container mt-2" style="max-height: 300px;">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Abbreviation</th>
                                        <th>Name</th>
                                        <th *ngIf="!searchValue"></th>
                                    </tr>
                                </thead>
                                <tbody cdkDropList [cdkDropListData]="filteredElements"
                                    (cdkDropListDropped)="onDragDrop($event)" cdkDropListOrientation="vertical"
                                    class="table-group-divider overflow-y-scroll">
                                    <tr *ngFor="let item of filteredElements" cdkDrag style="user-select: none;"
                                        [class.table-primary]="item.selected">
                                        <td class="app-cursor-pointer" (click)="onSelectedClick(item)">
                                            <i class="bi bi-cursor"></i>
                                        </td>
                                        <td class="app-cursor-pointer" (click)="onSelectedClick(item)">
                                            {{ item.element.id }}
                                        </td>
                                        <td class="app-cursor-pointer" (click)="onSelectedClick(item)">
                                            {{ item.element.abbreviation }}
                                        </td>
                                        <td class="app-cursor-pointer" (click)="onSelectedClick(item)">
                                            {{ item.element.name }}
                                        </td>
                                        <td *ngIf="!searchValue" cdkDragHandle class="app-cursor-drag">
                                            <i class="bi-grip-vertical"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="mt-2">
                        <app-check-box-input [id]="'save_element_search'" [label]="'Save Search'"
                            [(value)]="saveSearch" />
                        <div *ngIf="saveSearch" class="ms-2">
                            <app-text-input [id]="'input_save_element_search_save'" [(value)]="searchName" />
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</app-dialog>