<app-dialog [(open)]="open" [title]="'Search Elements'" [okButtonLabel]="'Ok'" (okClick)="onOkClick()">
    <div *ngIf="open" class="card border-0">

        <!-- tab header -->
        <div class="card-header d-flex">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button class="nav-link" [class.active]="activeTab === 'history'"
                        (click)="onTabClick('history')">History</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" [class.active]="activeTab === 'new'"
                        (click)="onTabClick('new')">New</button>
                </li>
            </ul>
        </div>

        <!-- selected tab contents -->
        <div class="card-body p-0">
            <div *ngIf="activeTab === 'history'">
                <div *ngIf="!previousSearches || previousSearches.length===0" class="mt-2">
                    No saved searches
                </div>
                <div *ngIf="previousSearches && previousSearches.length>0">
                    <ul class="list-group rounded-0 list-group-flush p-0 search-contents">
                        <li class="list-group-item list-group-item-action px-0 d-flex justify-content-between cursor-pointer"
                            *ngFor="let item of previousSearches"
                            [class.list-group-item-primary]="item.name === searchName"
                            (click)="onPreviousSearchSelected(item)">

                            <div class="me-2 d-flex">
                                <div class="me-1">
                                    <i class="bi bi-cursor"></i>
                                </div>
                                <div>
                                    {{ item.name }}
                                </div>
                            </div>

                            <div class="d-flex">
                                <button type="button" class="btn btn-outline-secondary btn-sm me-2"
                                    (click)="onEditPreviousSearch(item)">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="onDeletePreviousSearch(item)">
                                    Delete
                                </button>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="activeTab === 'new'" class="mt-2">
                <div>
                    <div>Search By:</div>
                    <div>
                        <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'searchOptions'"
                            [groupItems]="[ 
                                    { label:searchByOptionEnum.ID_NAME,checked: searchBy === searchByOptionEnum.ID_NAME}, 
                                    { label:searchByOptionEnum.DOMAIN, checked : searchBy === searchByOptionEnum.DOMAIN},
                                    { label:searchByOptionEnum.SUB_DOMAIN, checked : searchBy === searchByOptionEnum.SUB_DOMAIN},
                                    ]" (checkedValueChange)="onSearchOptionChange($event)" />
                    </div>
                    <div class="mt-2">
                        <div class="flex-grow-1">
                            <app-text-input [id]="'station_search_input'" [placeholder]="'Search'"
                                (valueChange)="onSearchInput($event)" />
                        </div>
                    </div>
                </div>

                <hr />

                <div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_SELECTED)">
                                    Sort Selected
                                </button>
                                <button *ngIf="searchBy === searchByOptionEnum.ID_NAME" type="button"
                                    class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_BY_ID)">
                                    Sort By ID
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SORT_BY_NAME)">
                                    Sort By Name
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.SELECT_ALL)">
                                    Select All
                                </button>
                                <button *ngIf="searchBy === 'Id or Name'" type="button"
                                    class="btn btn-outline-secondary btn-sm ms-2"
                                    (click)="onSelectionOptionClick(selectionOptionTypeEnum.DESELECT_ALL)">
                                    Deselect All
                                </button>
                            </div>
                            <div class="mx-2 fw-bold" [class.text-success]="searchedIds.length > 0">
                                [{{ searchedIds.length | number:'1.0-0' }}]
                            </div>
                        </div>

                        <div class="mt-2">
                            <div *ngIf="searchBy === searchByOptionEnum.ID_NAME,">
                                <app-element-id-name-search [elements]="elements" [searchedIds]="searchedIds"
                                    [searchValue]="searchValue" [selectionOption]="selectionOption"
                                    (searchedIdsChange)="setSearchedIds($event)" />
                            </div>
                            <div *ngIf="searchBy === searchByOptionEnum.DOMAIN">
                                <app-element-domain-search [elements]="elements" [searchValue]="searchValue"
                                    [selectionOption]="selectionOption" (searchedIdsChange)="setSearchedIds($event)" />
                            </div>

                            <div *ngIf="searchBy === searchByOptionEnum.SUB_DOMAIN">
                                <app-element-sub-domain-search [elements]="elements" [searchValue]="searchValue"
                                    [selectionOption]="selectionOption" (searchedIdsChange)="setSearchedIds($event)" />
                            </div>
                        </div>

                    </div>
                </div>

                <hr />

                <div>
                    <app-check-box-input [id]="'save_station_search'" [label]="'Save Search'" [(value)]="saveSearch" />
                    <div *ngIf="saveSearch" class="ms-2">
                        <app-text-input [id]="'station_search_save'" [(value)]="searchName" />
                    </div>
                </div>

            </div>

        </div>
    </div>

</app-dialog>