.bg-one {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url("/assets/login-bg.svg");
    background-size: auto 100%;
    z-index: -1;
}

.service-head {
    margin-bottom: 24px;
}

.service-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.service-body {
    font-size: 16px;
    font-weight: 400;
}