<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <div *ngIf="elements" class="d-flex mx-2">
        Count: {{ elements.length | number:'1.0-0' }}
      </div>
      <div class="me-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="elementSearch.openDialog()">
          Search
        </button>
        <app-elements-search-dialog #elementSearch (searchedIdsChange)="onSearchInput($event)" />
      </div>

      <div>
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="$event === 'Download'? elementDownloadLink.click(): onOptionsClicked($event)"
          [offSetRight]="true" />
        <div *ngIf="optionClicked">

          <app-import-elements-dialog [open]="optionClicked === 'Import'" (ok)="onOptionsDialogClosed()"
            (cancelClick)="onOptionsDialogClosed()" />
        </div>

        <!-- TODO. find a way of doing this through the drop down in future -->
        <a [hidden]="true" #elementDownloadLink [href]="downloadLink"></a>

      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th style="width: 2%;"></th>
            <th>Id</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>Description</th>
            <th *ngIf="showEditButton"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of elements" class="app-cursor-pointer">
            <td (click)="onEditElement(element)"><i class="bi bi-arrow-right-short"></i></td>
            <td (click)="onEditElement(element)">{{ element.id }}</td>
            <td (click)="onEditElement(element)">{{ element.abbreviation }}</td>
            <td (click)="onEditElement(element)">{{ element.name }}</td>
            <td (click)="onEditElement(element)">{{ element.description }}</td>
            <td *ngIf="showEditButton">
              <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="dlgElementCharacteristicsDialog.openDialog(element.id)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-element-characteristics-input-dialog #dlgElementCharacteristicsDialog (ok)="onOptionsDialogClosed()"
    (cancelClick)="onOptionsDialogClosed()" />
</div>