<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <div *ngIf="elements" class="d-flex mx-2">
        Count: {{ elements.length | number:'1.0-0' }}
      </div>
      <div class="me-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="elementSearch.openDialog()">
          Search
        </button>
        <app-elements-search-dialog #elementSearch (searchedIdsChange)="onSearchInput($event)" />
      </div>

      <div>
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="$event === 'Download'? elementDownloadLink.click(): onOptionsClicked($event)"
          [translateX]="true" />
        <div *ngIf="optionClicked">
          <app-element-characteristics-input-dialog [open]="optionClicked === 'Add'" (ok)="onOptionsDialogClosed()"
            (cancelClick)="onOptionsDialogClosed()" />

          <app-import-elements-dialog [open]="optionClicked === 'Import'" (ok)="onOptionsDialogClosed()"
            (cancelClick)="onOptionsDialogClosed()" />
        </div>

        <!-- TODO. find a way of doing this through the drop down in future -->
        <a [hidden]="true" #elementDownloadLink [href]="downloadLink"></a>

      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view [clickable]="true" [columnsData]="[ 
          {id: 'id', name: 'Id'},
          {id: 'abbreviation', name: 'Abbreviation'}, 
          {id: 'name', name: 'Name'}
           ]" [rowsData]="elements" (rowDataClicked)="onEditElement($event)" />
  </div>

</div>