<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm"
        (click)="dlgEditElement.showDialog()">
        Add
      </button>
      <div *ngIf="isSystemAdmin" class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="dlgImportElements.showDialog()">
          Import
        </button>
        <app-import-elements-dialog #dlgImportElements />
      </div>
      <div class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm"
          (click)="dlgSearchElements.showDialog(searchedIds)">
          Search
        </button>
        <app-elements-search-dialog #dlgSearchElements (searchedIdsChange)="onSearchInput($event)" />
      </div>
      <div class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="$event === 'Download'? elementDownloadLink.click(): onOptionsClick($event)"
          [offSetRight]="true" />

        <!-- TODO. find a way of doing this through the drop down in future -->
        <a [hidden]="true" #elementDownloadLink [href]="downloadLink"></a>
      </div>
      <div *ngIf="elements" class="d-flex mx-2 app-cursor-pointer" [class.text-success]="searchedIds.length > 0"
        (click)="onSearchInput([])">
        [{{ elements.length | number:'1.0-0' }}]
      </div>
    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th style="width: 2%;"></th>
            <th>Id</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>Description</th>
            <th>Units</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let element of elements" class="app-cursor-pointer"
            (click)="isSystemAdmin? dlgEditElement.showDialog(element.id): ''">
            <td><i class="bi bi-cursor"></i></td>
            <td>{{ element.id }}</td>
            <td>{{ element.abbreviation }}</td>
            <td>{{ element.name }}</td>
            <td>{{ element.description }}</td>
            <td>{{ element.units }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-edit-element-dialog #dlgEditElement />
</div>