<app-dialog [(open)]="open" [title]="title" [okButtonLabel]="'Submit'" (okClick)="onOkClick()"
  (cancelClick)="onCancelClick()">
  <div *ngIf="element">
    <div>
      <app-number-input [label]="'Id'" [disabled]="!bNew" [(numValue)]="element.id" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Abbreviation'" [(value)]="element.abbreviation" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Name'" [(value)]="element.name" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Description'" [(value)]="element.description" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Units'" [(value)]="element.units" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-element-type-single-input [selectedId]="element.typeId" (selectedIdChange)="onTypeChange($event)" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-number-input [label]="'Entry scale factor'" [(numValue)]="element.entryScaleFactor" />
    </div>

    <hr class="border border-secondary border-1">

    <div>
      <app-text-input [label]="'Comment'" [(value)]="element.comment" />
    </div>
  </div>
</app-dialog>