<div class="card border-0">
    <div class="card-header d-flex justify-content-end   align-items-center px-1 py-0">
        <div class="mb-1 d-flex">
            <!-- <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onSearch()">
                Search
            </button> -->
        </div>
    </div>

    <div class="card-body px-0">
        <app-table-view [clickable]="true"
            [columnsData]="[ {id: 'name', name: 'Name'} , {id: 'description', name: 'Description'} ]"
            [rowsData]="sources" (rowDataClicked)="onSourceClick($event)" />
    </div>
</div>