<div *ngIf="element">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-sm btn-outline-secondary me-1"
      (click)="dlgElementInput.openDialog(element.id)">Edit</button>
    <app-element-characteristics-input-dialog #dlgElementInput />
  </div>

  <app-label-input [label]="'Id'" [value]="element.id" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Abbreviation'" [value]="element.abbreviation" [labelColWidth]="4" />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Name'" [value]="element.name" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Description'" [value]="element.description" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Units'" [value]="element.units"[labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Domain'" [value]="element.domainName" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Subdomain'" [value]="element.subdomainName" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Type'" [value]="element.typeName" [labelColWidth]="4" />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Entry Scale Factor'" [value]="element.entryScaleFactor"  [labelColWidth]="4" />

  <hr class="border border-secondary border-1">

  <app-label-input [label]="'Comment'" [value]="element.comment" [labelColWidth]="4"  />

  <hr class="border border-secondary border-1">

</div>