<ng-container *ngIf="open && viewFlag">
    <app-dialog [(open)]="open" [title]="title"
        [firstButtonOptions]="{label: 'Submit', color: 'primary', closeDialogOnClick: false}"
        (firstButtonClick)="onSaveClick()"
        [secondButtonOptions]="title === 'Edit Flag'? {label: 'Delete', color: 'danger', closeDialogOnClick: false} : undefined"
        (secondButtonClick)="onDelete()"
        [thirdButtonOptions]="{label: 'Cancel', color: 'secondary', closeDialogOnClick: true}">

        <div>
            <app-text-input [label]="'Abbreviation'" [(value)]="viewFlag.abbreviation" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Name'" [(value)]="viewFlag.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewFlag.description" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewFlag.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr />
            <div class="text-danger">
                {{ errorMessage }}
            </div>
        </div>

    </app-dialog>
    <app-confirmation-dialog #dlgDeleteConfirm [title]="'Delete Flag'" [okButtonLabel]="'Yes'"
        [cancelButtonLabel]="'No'" (okConfirmed)="onDeleteConfirm()" [displayCannotBeUndone]="true">
        <p>
            Are you sure you want to delete the flag <strong>{{ viewFlag.name }}</strong>?
        </p>
    </app-confirmation-dialog>
</ng-container>