<ng-container *ngIf="open && viewFlag">
    <app-dialog [(open)]="open" [title]="title"
        [firstButtonOptions]="{label: 'Submit', color: 'primary', closeDialogOnClick: false}"
        (firstButtonClick)="onSaveClick()"
        [secondButtonOptions]="viewFlag.id > 0 ? {label: 'Delete', color: 'danger', closeDialogOnClick: false} : undefined"
        (secondButtonClick)="onDeleteClick()"
        [thirdButtonOptions]="{label: 'Cancel', color: 'secondary', closeDialogOnClick: true}">

        <div>
            <app-text-input [label]="'Abbreviation'" [(value)]="viewFlag.abbreviation" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Name'" [(value)]="viewFlag.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="viewFlag.description" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="viewFlag.comment" />
        </div>

        <div *ngIf="errorMessage">
            <hr />
            <div class="text-danger">
                {{ errorMessage }}
            </div>
        </div>

    </app-dialog>
</ng-container>