<ng-container
  *ngIf="userFormSettings && formDefinitions && observationsDefinitions && observationsDefinitions.length>0">
  <!-- For large screens, use the grid system and
        split the controls definitions into chunks of columns that have rows arranged from top to bottom -->
  <div *ngIf="largeScreen" class="row g-4">
    <div class="col app-value-flag-container" *ngFor="let chunkArray of fieldDefinitionsChunks; let firstIndex = index">
      <div class="row mb-2 p-0" *ngFor="let fieldDef of chunkArray;">
        <app-value-flag-input [id]="fieldDef.name" [label]="fieldDef.name"
          [borderSize]="userFormSettings.fieldsBorderSize" [displayExtraInfoOption]="displayExtraInfoOption"
          [observationDefinition]="getObservationDefByFieldDef(fieldDef)" (userInputVF)="onUserInputVF($event)" />
      </div>

      <!-- If total is required then add the total control as the last row -->
      <div class="app-value-flag-container"
        *ngIf="formDefinitions.formMetadata.requireTotalInput && firstIndex === this.fieldDefinitionsChunks.length - 1"
        class="row mb-2">
        <app-number-input #appTotal [id]="'total'" [label]="'TOTAL'" [borderSize]="userFormSettings.fieldsBorderSize"
          [errorMessage]="totalErrorMessage" (valueChange)="onTotalValueChange($event)"
          (inputEnterKeyPress)="onTotalValueChange($event)" />
      </div>

    </div>
  </div>

  <!-- For small screens, just use a column flex container -->
  <div *ngIf="!largeScreen" class="d-flex flex-column">
    <app-value-flag-input class="mb-2" *ngFor="let fieldDef of fieldDefinitions; let i = index" [id]="fieldDef.name"
      [label]="fieldDef.name" [borderSize]="userFormSettings.fieldsBorderSize"
      [displayExtraInfoOption]="displayExtraInfoOption" [observationDefinition]="getObservationDefByIndex(i)"
      (userInputVF)="onUserInputVF($event)" />

    <div *ngIf="formDefinitions.formMetadata.requireTotalInput" class="mb-2">
      <app-number-input #appTotal [id]="'total'" [label]="'TOTAL'" [borderSize]="userFormSettings.fieldsBorderSize"
        [errorMessage]="totalErrorMessage" (valueChange)="onTotalValueChange($event)"
        (inputEnterKeyPress)="onTotalValueChange($event)" />
    </div>
  </div>

</ng-container>