<app-dialog [(open)]="open" [title]="title"
    [firstButtonOptions]=" {label: okButtonLabel, closeDialogOnClick: false, color: 'primary'}"
    (firstButtonClick)="onOkConfirm()"
    [secondButtonOptions]="{label: cancelButtonLabel, closeDialogOnClick: false, color: 'secondary'}"
    (secondButtonClick)="onCancelConfirm()">
    <ng-content></ng-content>
    <p *ngIf="displayCannotBeUndone" class="text-danger">
        <i class="bi bi-exclamation-triangle me-1"></i>This action cannot be undone.
    </p>
</app-dialog>