<div *ngIf="station" class="card border-0">
    <div class="card-body p-0">

        <div class="card-title fw-bold">Showing station details</div>

        <!-- characteristics -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #characteristicsToggle [open]="true">Characteristics</app-toggle-chevron>
            </div>
            <div *ngIf="characteristicsToggle.open" class="card-body  px-0">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="onEditCharacteristics()">Edit</button>
                </div>

                <div class="mb-1">
                    <app-label-input [label]="'Id'" [value]="station.id" />
                </div>
                <div class="mb-1">
                    <app-label-input [label]="'Name'" [value]="station.name" />
                </div>

            </div>
        </div>
        <!-- /end characteristics -->

        <!-- elements -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #elementsToggle>Elements</app-toggle-chevron>
            </div>
            <div *ngIf="elementsToggle.open">
                <app-station-limits [stationId]="station.id" />
            </div>
        </div>
        <!-- end elements -->

        <!-- forms -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #formsToggle>Forms</app-toggle-chevron>
            </div>
            <div *ngIf="formsToggle.open">
                <app-station-forms [stationId]="station.id" />
            </div>
        </div>
        <!-- end forms -->

        <!-- contacts -->
        <!-- <div class="card border-0">
            <div class="card-header px-0 fw-bold cursor-pointer">
                <app-toggle-chevron #contactsToggle>Contacts</app-toggle-chevron>
            </div>
            <div *ngIf="contactsToggle.open" class="card-body">

            </div>
        </div> -->
        <!-- end contacts -->

    </div>

</div>