<div *ngIf="station" class="card border-0">
    <div class="card-body p-0">

        <div class="card-title fw-bold">{{ station.id + ' - ' + station.name }}</div>

        <!-- characteristics -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #characteristicsToggle [clickable]="true"
                    [open]="true">Characteristics</app-toggle-chevron>
            </div>
            <div *ngIf="characteristicsToggle.open" class="card-body  px-0">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

                <app-text-input [controlLabel]="'Id'" [value]="station.id"></app-text-input>
                <app-text-input [controlLabel]="'Name'" [value]="station.name"></app-text-input>
            </div>
        </div>
        <!-- /end characteristics -->

        <!-- elements -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #elementsToggle [clickable]="true"
                    (openChange)="loadElements();">Elements</app-toggle-chevron>
            </div>
            <div *ngIf="elementsToggle.open" class="card-body  px-0">

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-1">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                    <!-- <app-form-selector-dialog #dlgFormSelector [okButtonLabel]="'Save'"
                    (ok)="onFormsSelected($event)"></app-form-selector-dialog> -->
                </div>

                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th style="width: 2%;"></th>
                            <th style="width: 3%;">Id</th>
                            <th style="width: 12%;">Name</th>
                            <th style="width: 83%;">Description</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <ng-container *ngFor="let row of elements">
                            <tr>
                                <td>
                                    <app-toggle-chevron #elementSelected [clickable]="true"></app-toggle-chevron>
                                </td>
                                <td>{{ row.elementId}}</td>
                                <td>{{ row.elementName}}</td>
                                <td>{{ row.elementDescription}}</td>
                            </tr>

                            <!-- metadata row that contains 1 columns with metadata tables -->
                            <tr *ngIf="elementSelected.open">
                                <td></td>
                                <td></td>
                                <td colspan="2">

                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Metadata</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            <tr>
                                                <td>
                                                    <div class="d-flex justify-content-between">
                                                        <app-toggle-chevron #elementInstrument
                                                            [clickable]='true'>Instruments</app-toggle-chevron>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-secondary me-1">Add</button>
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-secondary">Delete</button>
                                                        </div>
                                                    </div>



                                                    <table *ngIf="elementInstrument.open"
                                                        class="table table-sm table-striped ms-3">
                                                        <thead>
                                                            <tr>
                                                                <th>Id</th>
                                                                <th>Name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Daily guage</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>




                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                    <div class="d-flex justify-content-between">
                                                        <app-toggle-chevron #elementLimits
                                                            [clickable]='true'>Limits</app-toggle-chevron>
                                                        <div class="d-flex justify-content-end">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-secondary me-1">Add</button>
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline-secondary">Delete</button>
                                                        </div>
                                                    </div>

                                                    <table *ngIf="elementLimits.open"
                                                        class="table table-sm table-striped ms-3">
                                                        <thead>
                                                            <tr>
                                                                <th>Month</th>
                                                                <th>Upper Limit</th>
                                                                <th>Lower Limit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                            <tr>
                                                                <td>January</td>
                                                                <td>200</td>
                                                                <td>300</td>

                                                            </tr>
                                                        </tbody>

                                                    </table>



                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>


                                </td>

                            </tr>

                        </ng-container>


                    </tbody>
                </table>

            </div>

        </div>
        <!-- end elements -->

        <!-- forms -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #formsToggle [clickable]="true"
                    (openChange)="loadForms();">Forms</app-toggle-chevron>
            </div>
            <div *ngIf="formsToggle.open" class="card-body px-0">

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-1"
                        (click)="dlgFormSelector.openDialog(getFormIds())">Add</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>

                    <app-form-selector-dialog #dlgFormSelector [okButtonLabel]="'Save'"
                        (ok)="onFormsSelected($event)"></app-form-selector-dialog>
                </div>

                <div class="px-3">
                    <app-table-view [clickable]="false" 
                        [columnsData]="[ {id: 'sourceId', name: 'Id'}, {id: 'sourceName', name: 'Name'}, {id: 'sourceDescription', name: 'Description'}  ]"
                        [rowsData]="forms" (rowDataClicked)="onFormDeleteClick($event)"></app-table-view>
                </div>


            </div>
        </div>
        <!-- end forms -->

        <!-- contacts -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold cursor-pointer" (click)="contactsToggle.open = !contactsToggle.open; ">
                <app-toggle-chevron class="me-1" #contactsToggle></app-toggle-chevron>Contacts
            </div>
            <div *ngIf="contactsToggle" class="card-body">

            </div>
        </div>
        <!-- end contacts -->

    </div>



</div>