<div class="d-flex flex-column align-items-center">
    <div class="fw-bold">Quality control will be supported in the next version release</div>
    <div class="text-info">
        Quality control will enable performing manual and automated QC tests using the QC tests defined for every element.
    </div>
 </div>

<!-- <div class="card border-0">
 
    <div class="card-title fw-bold d-flex justify-content-between">
        Quality control
    </div>

 
    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #QCstatusToggle [open]="true">View QC status</app-toggle-chevron>
        </div>
        <div *ngIf="QCstatusToggle.open" class="card-body px-0">

        </div>
    </div>


    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #PerformQCToggle>Perform QC Tests</app-toggle-chevron>
        </div>
        <div *ngIf="PerformQCToggle.open" class="card-body px-0">

        </div>
    </div>


    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #editDataQCToggle>View/Edit Data with QC Issues</app-toggle-chevron>
        </div>
        <div *ngIf="editDataQCToggle.open" class="card-body px-0">
        
        </div>
    </div>

</div> -->