<app-dialog [(open)]="open" [title]="'Customise Form'" [okButtonLabel]="'Ok'" (okClick)="onOkClick()"
    (cancelClick)="onCancelClick()">

    <div *ngIf="open && userFormSettings" class="card border-0">
        <div class="card-body p-0">
            <div>
                <app-check-box-input [label]="'Increment date selector'"
                    [(value)]="userFormSettings.incrementDateSelector" />
            </div>
            <hr />
            <div>
                <app-number-input [label]="'Fields border Size'" [max]="5" [(numValue)]="userFormSettings.fieldsBorderSize" />
            </div>
            <hr />
            <!-- linear or grid selections -->
            <div class="card-header d-flex">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <button class="nav-link" [class.active]="activeTab === 'linear'"
                            (click)="onTabChange('linear')">Linear</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active" [class.active]="activeTab === 'grid'"
                            (click)="onTabChange('grid')">Grid</button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- linear layout settings -->
        <div *ngIf="activeTab === 'linear'">
            <div class="mb-2 mt-2">
                <app-number-input [label]="'Maximum rows (applicable to large screens only)'" [(numValue)]="userFormSettings.linearLayoutSettings.maxRows" />
            </div>
        </div>

        <!-- grid layout settings -->
        <div *ngIf="activeTab === 'grid'">
            <div class="mb-2 mt-2">
                <app-number-input [label]="'Grid height'" [(numValue)]="userFormSettings.gridLayoutSettings.gridHeight" />
            </div>
            <div class="mb-2">
                <div>Grid navigation:</div>
                <app-radio-buttons-input [asButtons]="true" [inline]="true" [groupName]="'grid_navigation_options'"
                    [groupItems]=" [ {label: 'Horizontally'}, {label: 'Vertically'} ]" [checkedValue]="gridNavigation"
                    (checkedValueChange)="onGridEntryNavigationSelection($event)" />
            </div>
        </div>

    </div>

</app-dialog>