<div *ngIf="user" class="card border-0">

  <div class="card-header d-flex justify-content-between p-0 align-items-center mb-3">
    <div class="fw-bold">Showing user details</div>
  </div>

  <div class="card-body p-0">

    <div>

      <div class="mb-3">
        <app-text-input [label]="'Name'" [value]="user.name" [(value)]="user.name" />
      </div>

      <div class="mb-3">
        <app-text-input [label]="'Email'" [(value)]="user.email" />
      </div>

      <div class="mb-3">
        <app-text-input [label]="'Phone'" [(value)]="user.phone" />
      </div>

      <div class="mb-3">
        <app-user-role-single-input [label]="'Role'" [selectedId]="user.roleId"
          (selectedIdChange)="onRoleSelection($event)" />
      </div>

      <div class="mb-3" *ngIf="user.roleId !== 1">
        <app-station-multiple-input [label]="'Authorised stations'" [placeholder]="'All stations'"
          [selectedIds]="user.authorisedStationIds? user.authorisedStationIds: []"
          (selectedIdsChange)="onStationsSelection($event)" />
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="validateTotal" [(ngModel)]="user.disabled">
          <label class="form-check-label" for="validateTotal">Disabled </label>
        </div>
      </div>

    </div>

  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0 mt-3">
    <button type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSaveClick()" [disabled]="!bEnableSave">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelClick()">Cancel</button>
  </div>

</div>