<div *ngIf="datetimeDefinition">
    <app-radio-buttons-input [inline]="true" [asButtons]="true" [groupName]="'dateDefinition'" [groupItems]="[
        { label:'Date Time in Single Column',checked: datetimeDefinition.dateTimeColumnPostion !== undefined}, 
        { label:'Date Time in Multiple Columns', checked: datetimeDefinition.dateTimeInMultipleColumn !== undefined}]"
        (checkedValueChange)="onDatetimeSelection($event)" />

    <div class="ms-4">
        <div *ngIf="datetimeDefinition.dateTimeColumnPostion !== undefined">
            <app-number-input [id]="'date_time_col_pos'" [label]="'Column Position (values in format YYYY-MM-DD HH:SS)'"
                [(numValue)]="datetimeDefinition.dateTimeColumnPostion" />
        </div>
        <div *ngIf="datetimeDefinition.dateTimeInMultipleColumn !== undefined">
            Not yet supported
        </div>

    </div>

</div>