<ng-container *ngIf="open && setting">
  <app-dialog [(open)]="open" [title]="title" [okButtonLabel]="'Save'" [closeOnOkClick]="false"
    (okClick)="onSaveClick()">

    <div>
      <div class="mb-3">
        <app-label-input [label]="'Name'" [value]="setting.name" />
      </div>

      <div class="mb-3">
        <app-label-input [label]="'Description'" [value]="setting.description" />
      </div>
    </div>

    <div *ngIf="setting.parameters" class="mt-2 card border-0">
      <div class="card-header fw-bold">Parameters</div>
      <div class="card-body">
        <app-climsoft-boundary *ngIf="setting.id === 1" [settingParameter]="setting.parameters" />
        <app-climsoft-display-timezone *ngIf="setting.id === 2" [settingParameter]="setting.parameters" />
        <app-scheduler-setting *ngIf="setting.id === 3" [settingParameter]="setting.parameters" />
      </div>
    </div>

  </app-dialog>
</ng-container>
