<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1">
    <div class="d-flex align-items-center">
      <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm"
        (click)="onOptionsClicked('Import')">
        Import
      </button>
      <div class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onVisualiseClick()">
          Map
        </button>
      </div>
      <div *ngIf="isSystemAdmin" class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="['Delete All']"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>
      <div *ngIf="regions" class="d-flex mx-2">
        [{{ regions.length | number:'1.0-0' }}]
      </div>
      <app-import-regions-dialog [open]="optionClicked === 'Import'" (ok)="onOptionsDialogClosed()"
        (cancelClick)="onOptionsDialogClosed()" />
    </div>
  </div>

  <div *ngIf="regions" class="card-body p-0">
    <app-table-view [clickable]="true"
      [columnsData]="[ {id: 'name', name: 'Name'} , {id: 'regionType', name: 'Type'}, {id: 'description', name: 'Description'} ]"
      [rowsData]="regions" />
  </div>
</div>

<ng-container *ngIf="showMapDialog">
  <app-dialog [(open)]="showMapDialog" [title]="'Regions Map'">
    <div *ngIf="regionMapLayerGroup">
      <app-map [mapHeight]="'70vh'" [contentLayersGroup]="regionMapLayerGroup" />
    </div>
  </app-dialog>
</ng-container>
