<div class="card border-0">
  <div class="card-header d-flex justify-content-between align-items-center px-1 py-0">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link active" [class.active]="activeTab === 'table'"
          (click)="onTabClick('table')">Table</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'map'" (click)="onTabClick('map')">Map</button>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div *ngIf="regions" class="d-flex mx-2">
        Count: {{ regions.length | number:'1.0-0' }}
      </div>
      <!-- <button type="button" class="btn btn-outline-secondary btn-sm me-2 " (click)="onSearch()">
        Search
      </button> -->
      <div>
        <app-drop-down-button [buttonText]="'New'" [dropDownItems]="['Import']" (dropDownOptionClick)="onImportRegion()"
        [translateX]="true" />
      </div>

      <div>
        <button type="button" class="btn btn-outline-secondary btn-sm ms-2 " (click)="onDeleteAll()">
          Delete All
        </button>
      </div>
   
    </div>
  </div>

  <div *ngIf="regions" class="card-body p-0">
    <app-view-regions-table *ngIf="activeTab === 'table'" [regions]="regions" />
    <app-view-regions-map *ngIf="activeTab === 'map' " [regions]="regions" />
  </div>

</div>