<div class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm"
        (click)="onOptionsClicked('Import')">
        Import
      </button>
      <div class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onVisualiseClick()">
          Map
        </button>
      </div>
      <div *ngIf="isSystemAdmin" class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="['Delete All']"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>
      <div class="ms-2">
        <app-page-input [pageInputDefinition]="pageInputDefinition" (pageInputDefinitionChange)="0" />
      </div>
      <app-import-regions-dialog [open]="optionClicked === 'Import'" (ok)="onOptionsDialogClosed()"
        (cancelClick)="onOptionsDialogClosed()" />
    </div>
  </div>

  <div *ngIf="regions" class="card-body px-0">
    <div class="app-table-container" style="max-height: 80vh;">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th appSortableHeader="name" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
              (sort)="onSort($event)">Name</th>
            <th appSortableHeader="regionType" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
              (sort)="onSort($event)">Type</th>
            <th appSortableHeader="description" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
              (sort)="onSort($event)">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let region of pageItems">
            <td>{{ region.name }}</td>
            <td>{{ region.regionType }}</td>
            <td>{{ region.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="showMapDialog">
  <app-dialog [(open)]="showMapDialog" [title]="'Regions Map'">
    <div *ngIf="regionMapLayerGroup">
      <app-map [mapHeight]="'70vh'" [contentLayersGroup]="regionMapLayerGroup" />
    </div>
  </app-dialog>
</ng-container>

<app-delete-confirmation-dialog #dlgDeleteAllConfirm [itemName]="'All'" [itemType]="'region'"
  (deleteConfirmed)="onDeleteAllConfirm()" />