<div class="card border-0">
    <div class="card-header d-flex justify-content-between p-0 align-items-center">
        <div class="fw-bold">Showing Users</div>
        <div class="mb-1">
            <button type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="onSearchClick()">
                Search
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onNewUserClick()">
                New
            </button>
        </div>
    </div>

    <div class="card-body px-0">
        <!-- <app-table-view [clickable]="true" [columnsData]="[ 
            {id: 'name', name: 'Name'},
            {id: 'email', name: 'Email'}, 
            {id: 'phone', name: 'Phone'},
            {id: 'role', name: 'Role'},
            {id: 'disabled', name: 'Disabled'} ]" [rowsData]="users" (rowDataClicked)="onEditUserClick($event)" /> -->


        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th style="width: 2%;"></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Disabled</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="cursor-pointer" *ngFor="let user of users">
                    <td (click)="onEditUserClick(user)"><i class="bi bi-arrow-right-short"></i></td>
                    <td (click)="onEditUserClick(user)">{{ user.name }}</td>
                    <td (click)="onEditUserClick(user)">{{ user.email }}</td>
                    <td (click)="onEditUserClick(user)">{{ user.phone }}</td>
                    <td (click)="onEditUserClick(user)">{{ getFormattedUserRole(user.role) }}</td>
                    <td (click)="onEditUserClick(user)">{{ user.disabled }}</td>
                    <td>
                        <button class="btn btn-outline-secondary btn-sm"
                            (click)="passwordChangeDialog.open = true">Change Password</button>
                        <app-password-change #passwordChangeDialog [userId]="user.id" [userEmail]="user.email" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>