<app-dialog [(open)]="open" [title]="title" [okButtonLabel]="'Submit'" [closeOnOkClick]="false" (okClick)="onOkClick()"
    (cancelClick)="onCancelClick()">
    <div *ngIf="station && open">
        <div>
            <app-text-input [label]="'Id'" [(value)]="station.id" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Name'" [(value)]="station.name" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Description'" [(value)]="station.description" />
        </div>

        <hr />

        <div>
            <div class="d-flex justify-content-between">
                <div>Location</div>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-secondary " (click)="requestLocation()">
                        <i class="bi bi-geo-alt"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex mt-2">
                <div>
                    <app-number-input [label]="'Latitude'" [(value)]="station.latitude" />
                </div>
                <div class="ms-2">
                    <app-number-input [label]="'Longitude'" [(value)]="station.longitude" />
                </div>
            </div>
        </div>

        <hr />

        <div>
            <app-number-input [label]="'Elevation'" [(value)]="station.elevation" />
        </div>

        <hr />

        <div>
            <app-station-obs-processing-single-selector [label]="'Observation Processing Method'"
                [selectedId]="station.stationObsProcessingMethod"
                (selectedIdChange)="onStationObsMethodChange($event)" />
        </div>

        <hr />

        <div>
            <app-station-environment-selector-single [label]="'Observation Environment'"
                [(selectedId)]="station.stationObsEnvironmentId" />
        </div>

        <hr />

        <div>
            <app-station-focus-selector-single [label]="'Observation Focus'"
                [(selectedId)]="station.stationObsFocusId" />
        </div>

        <hr />

        <div>
            <app-organisation-selector-single-single [label]="'Organisation'" [(selectedId)]="station.organisationId" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'WMO ID'" [(value)]="station.wmoId" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'WIGOS ID'" [(value)]="station.wigosId" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'ICAO ID'" [(value)]="station.icaoId" />
        </div>

        <hr />

        <div>
            <app-station-status-selector-single [label]="'Operational Status'" [(selectedId)]="station.status"
                (selectedIdChange)="onStationStatusChange($event)" />
        </div>

        <hr />

        <div>
            <app-date-input [label]="'Date Established'" [(value)]="station.dateEstablished" />
        </div>

        <hr />

        <div>
            <app-date-input [label]="'Date Closed'" [(value)]="station.dateClosed" />
        </div>

        <hr />

        <div>
            <app-text-input [label]="'Comment'" [(value)]="station.comment" />
        </div>

    </div>
</app-dialog>