<div class="card border-0" *ngIf="formDefinitions">
  <div class="card-body p-0">
    <div class="d-flex justify-content-between">
      <div class="card-title fw-bold my-1 form-header">{{source.name}} data entry for {{station.id}} - {{station.name}}  </div>
      <div>
        <app-drop-down-button [dropDownItems]="[ 'Same Input','Clear Fields','Extra Info', 'Settings']"
          (dropDownOptionClick)="onOptions($event)" [translateX]="true" [buttonText]="'Options'" />
        <app-assign-same-input [(open)]="openSameInputDialog" (ok)="onAssignSameValue($event)" />
        <app-user-form-settings [(open)]="openUserFormSettingsDialog" (ok)="onUserFormSettingsChange($event)" />
      </div>
    </div>
  
    <!-- entry selectors -->
    <div class="card border-0 ">
      <div class="card-body p-0">
        <div class="card-header mb-2 p-1 fw-bold form-header">Selectors</div>
        <div class="row g-2 px-2">
          <div class="col-sm-auto mb-2" *ngIf="displayElementSelector">
            <app-element-selector-single [label]="'Element'" [includeOnlyIds]="formDefinitions.formMetadata.elementIds"
              [selectedId]="formDefinitions.elementSelectorValue" (selectedIdChange)="onElementChange($event)" />
          </div>

          <div class="col-sm-auto mb-2" *ngIf="displayDateSelector">
            <app-date-input [label]="'Date'" [value]="defaultDateValue" (valueChange)="onDateChange($event)" />
          </div>

          <div class="col-sm-auto mb-2" *ngIf="displayYearMonthSelector">
            <app-year-month-input [label]="'Year & Month'" [value]="defaultYearMonthValue" (valueChange)="onYearMonthChange($event)" />
          </div>

          <div class="col-sm-auto mb-2" *ngIf="displayHourSelector">
            <app-hour-single-input [label]="'Hour'+ utcDifference" [includeOnlyIds]="formDefinitions.formMetadata.hours"
              [selectedId]="formDefinitions.hourSelectorValue" (selectedIdChange)="onHourChange($event)" />
          </div>

        </div>
      </div>
    </div>

    <!-- entry fields -->
    <div class="card border-0">
      <div class="card-body p-0">
        <div class="card-header d-flex justify-content-between px-1 py-0 align-items-center">
          <div class="fw-bold p-1 form-header">Fields</div>
        </div>

        <div class="mt-2 mx-2">
          <!-- list layout -->
          <app-linear-layout *ngIf="formDefinitions.formMetadata.layout === 'LINEAR'"
            [userFormSettings]="userFormSettings" [formDefinitions]="formDefinitions" [refreshLayout]="refreshLayout"
            [displayExtraInfoOption]="displayExtraInfoOption" (totalIsValid)="onTotalIsValid($event)"
            (userInputVF)="onUserInputVF($event)" />
          <!-- ----------- -->

          <!-- table layout -->
          <app-grid-layout *ngIf="formDefinitions.formMetadata.layout === 'GRID'" [userFormSettings]="userFormSettings"
            [formDefinitions]="formDefinitions" [refreshLayout]="refreshLayout"
            [displayExtraInfoOption]="displayExtraInfoOption" (totalIsValid)="onTotalIsValid($event)"
            (userInputVF)="onUserInputVF($event)" (focusSaveButton) = "onFocusSaveButton()">
          </app-grid-layout>
          <!-- ----------- -->
        </div>
      </div>
    </div>


  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0">
    <button #saveButton type="button" class="btn btn-sm btn-outline-primary me-2" (click)="onSave()">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancel()">Cancel</button>
  </div>

</div>