<app-dialog [(open)]="open" [title]="title" [displayDeleteOption]="true"
    (okClick)="onOkClick()" (deleteClick)="onDeleteClick()">

    <div *ngIf="updateQcTest">
        <app-qc-test-type-input [selectedId]="updateQcTest.qcTestType"
            (selectedIdChange)="onQCTestTypeSelected($event)" />

        <div class="mt-2">
            <app-radio-buttons-input #periodChoice [groupName]="'qc_test_period'"
                [groupItems]=" [{ label: 'All observation periods', checked: true }, {label: 'Specific observation period'}]"
                [asButtons]="false" [inline]="true"
                [checkedValue]="updateQcTest.observationPeriod === null? 'All observation periods': 'Specific observation period' "
                (checkedValueChange)="onPeriodState($event)" />
            <div class="mt-1 ms-2">
                <app-period-single-input *ngIf="periodChoice.checkedValue === 'Specific observation period'"
                    [id]="'obs_period_selector'" [(selectedId)]="updateQcTest.observationPeriod" />
            </div>
        </div>

        <div class="mt-2">
            <app-qc-test-range-threshold-params *ngIf="isRangeThreshold"
                [rangeThresholdQCTestParameters]="rangeThresholdParam" />
        </div>

        <div class="mt-2">
            <app-check-box-input [label]="'Disabled'" [(value)]="updateQcTest.disabled" />
        </div>
        <div class="mt-2">
            <app-text-input [label]="'Comment'" [(value)]="updateQcTest.comment" />
        </div>

    </div>

</app-dialog>