// Todo, not used yet, left here for reference
// .rotate {
//     //todo. see example in https://css-tricks.com/almanac/properties/t/text-orientation/
//     text-orientation: mixed;
//     writing-mode: vertical-rl;
// }

.container-max-w-sm{
    max-width: 6.875rem;
}

