// Todo, not used yet, left here for reference
// .rotate {
//     //todo. see example in https://css-tricks.com/almanac/properties/t/text-orientation/
//     text-orientation: mixed;
//     writing-mode: vertical-rl;
// }

.grid-input-container {
    max-width: 6.875rem; // 110px
    font-size: 0.75rem; // 12px;
}

.grid-label {
    font-size: 0.625rem; // 10px
    max-width: 3.75rem; // 60px
}


.table-input-container {
    max-width: 6.875rem; // 110px
    font-size: 12px;
}

.table-label {
    font-size: 0.75rem; // 12px;
}