<app-selector-multiple-input [id]="id" [label]="label" [placeholder]="placeholder" [displayAdvancedSearchOption]="true"
    [errorMessage]="errorMessage" [options]="elements" [optionDisplayFn]="optionDisplayFunction"
    [selectedOptions]="selectedElements" (selectedOptionsChange)="onSelectedOptionsChange($event)"
    (displayAdvancedSearchOptionClick)="dlgSearchElements.showDialog(selectedIds)" />

<app-elements-search-dialog #dlgSearchElements (searchedIdsChange)="onAdvancedSearchInput($event)" />