<app-text-input *ngIf="observationDefinition" [id]="id" [label]="label" [includeDropDownOption]="displayHistoryOption"
    [value]="observationDefinition.valueFlagForDisplay" [dropDownOptionMaxHeight]="300"
    [errorMessage]="validationResponse" (valueChange)="onInputEntry($event)"
    (inputEnterKeyPress)="onEnterKeyPressed()" (dropDownOptionClick)="loadObservationLog()">

    <div class="card">
        <div class="card-body">

            <div class="mb-3">
                <app-text-input [label]="'New Comment'" (valueChange)="onCommentEntry( $event)"></app-text-input>
            </div>

            <div *ngIf="obsLog && obsLog.length>0">
                <div>History</div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Value</th>
                            <th scope="col">Flag</th>
                            <th scope="col">Final</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Deleted</th>
                            <th scope="col">Entry Time</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of obsLog ">
                            <td>{{ row.value }}</td>
                            <td>{{ row.flag }}</td>
                            <td>{{ row.final }}</td>
                            <td>{{ row.comment }}</td>
                            <td>{{ row.deleted }}</td>
                            <td>{{ row.entryDateTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</app-text-input>