<div class="card border-0">
  <div class="card-body p-0">
    <div class="card-title fw-bold">{{formName}} data entry for {{stationName}}</div>
    <!-- entry selectors -->
    <div class="card mb-2 border-0 ">

      <div class="card-body p-0">
        <div class="card-header mb-2 p-1 fw-bold">Selectors</div>
        <div class="row g-2 p-2">
          <div class="col-sm-auto mb-2" *ngIf="formMetadata.selectors.includes('ELEMENT') && formFilter.elementId">
            <app-element-input [controlLabel]="'Element'" [value]="formFilter.elementId"  [ids]="formMetadata.elementIds"
              (valueChange)="onElementChange($event)"></app-element-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="formMetadata.selectors.includes('DAY') && defaultDateValue">
            <app-date-input [label]="'Date'" [value]="defaultDateValue"
              (valueChange)="onDateChange($event)"></app-date-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="!formMetadata.selectors.includes('DAY') && defaultDateValue">
            <app-year-month-input [value]="defaultDateValue" (valueChange)="onMonthChange($event)"></app-year-month-input>
          </div>        

        

          <div class="col-sm-auto mb-2" *ngIf="formMetadata.selectors.includes('HOUR') && formFilter.hour">
            <app-hour-input [controlLabel]="'Hour'" [value]="formFilter.hour" [onlyIncludeIds]="formMetadata.hours"
              (valueChange)="onHourChange($event)"></app-hour-input>
          </div>

        </div>
      </div>
    </div>

    <!-- entry fields -->
    <div class="card mb-2 border-0">

      <div class="card-body p-0">
        <div class="card-header mb-2 p-1 fw-bold">Fields</div>
        <div class="p-2">
          <!-- list layout -->
          <app-linear-layout *ngIf="this.formMetadata.layout === 'LINEAR'" [formFilter]="formFilter" [elements]="elements"
            [flags]="flags" [formMetadata]="formMetadata" [dbObservations]="observations"
            (valueChange)="onValueChange($event)" (enableSave)="onEnableSave($event)">
          </app-linear-layout>
          <!-- ----------- -->

          <!-- table layout -->
          <app-grid-layout *ngIf="this.formMetadata.layout === 'GRID'" [formFilter]="formFilter" [elements]="elements"
            [flags]="flags" [formMetadata]="formMetadata" [dbObservations]="observations"
            (valueChange)="onValueChange($event)" (enableSave)="onEnableSave($event)">
          </app-grid-layout>
          <!-- ----------- -->
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer bg-transparent d-flex justify-content-end px-0">
    <button type="button" class="btn btn-sm btn-outline-primary me-2" [disabled]="!enableSave" (click)="onSaveClick()">
      Save
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelClick()">Cancel</button>
  </div>

</div>