<div class="row d-flex justify-content-between align-items-center mb-2">
  <div class="col">
    <h4 class="fw-normal component-h1">Data Entry</h4>
  </div>
</div>

<div class="card  ">
 
  <div class="card-body">
    <div class="card-title fw-light">{{formName}} data entry for {{stationName}}</div>
    <!-- entry selectors -->
    <div class="card mb-2 ">
      
      <div class="card-body">
        <div class="card-title fw-light">Entry Selectors</div>
        <div class="row g-2">
          <div class="col-sm-auto mb-2" *ngIf="dataSelectors.elementId > 0">
            <app-element-input [controlLabel]="'Element'" [value]="dataSelectors.elementId"
              (valueChange)="onElementChange($event)"></app-element-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="!useDatePickerControl && dataSelectors.year > 0">
            <app-year-input [value]="dataSelectors.year" (valueChange)="onYearChange($event)"></app-year-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="!useDatePickerControl && dataSelectors.month > 0">
            <app-month-input [value]="dataSelectors.month"
              (valueChange)="onMonthChange($event)"></app-month-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="!useDatePickerControl  && dataSelectors.day > 0">
            <app-day-input [year]="dataSelectors.year" [month]="dataSelectors.month"
              [value]="dataSelectors.day" (valueChange)="onDayChange($event)"></app-day-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="useDatePickerControl">
            <app-date-input [controlLabel]="'Date'" [value]="defaultDatePickerDate"
              (valueChange)="onDateChange($event)"></app-date-input>
          </div>

          <div class="col-sm-auto mb-2" *ngIf="this.dataSelectors.hour > -1">
            <app-hour-input [controlLabel]="'Hour'" [value]="dataSelectors.hour"
              [onlyIncludeIds]="formMetadata.hours"
              (valueChange)="onHourChange($event)"></app-hour-input>
          </div>
        </div>
      </div>
    </div>

    <!-- entry fields -->
    <div class="card mb-2 ">
      
      <div class="card-body">
        <div class="card-title fw-light">Entry Fields</div>
        <!-- grid entry -->
        <app-data-grid-entry *ngIf="entryControl === 'grid'" >
        </app-data-grid-entry>
        <!-- ----------- -->
        <!-- value flag entry -->
        <app-value-flag-entry *ngIf="entryControl === 'vf'" [dataSelectors]="dataSelectors"
          [formMetadata]="formMetadata" [observations]="observations">
        </app-value-flag-entry>
        <!-- ----------- -->
      </div>
    </div>

    <div class="row g-2">
      <div class="col-auto">
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Save
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-secondary">Clear</button>
      </div>
    </div>
  </div>

  
</div>