<div *ngIf="station" class="card border-0">
    <div class="card-body p-0">

        <!-- header -->
        <div class="card-title fw-bold d-flex justify-content-between">
            <div>Showing station details</div>
            <div>
                <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="onDelete()">Delete</button>
            </div>
        </div>

        <!-- characteristics -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #characteristicsToggle [open]="true">Characteristics</app-toggle-chevron>
            </div>
            <div class="card-body  px-0" *ngIf="characteristicsToggle.open">
                <app-station-characteristics [stationId]="station.id"/>
            </div>
        </div>
        <!-- /end characteristics -->

        <!-- elements -->
        <div class="card border-0">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #elementsToggle>Elements</app-toggle-chevron>
            </div>
            <div class="card-body  px-0" *ngIf="elementsToggle.open">
                <app-station-limits [stationId]="station.id" />
            </div>
        </div>
        <!-- end elements -->

        <!-- forms -->
        <div class="card border-0"  *ngIf="isManualorHybridStation">
            <div class="card-header px-0 fw-bold">
                <app-toggle-chevron #formsToggle>Forms</app-toggle-chevron>
            </div>
            <div class="card-body px-0" *ngIf="formsToggle.open">
                <app-station-forms [stationId]="station.id" />
            </div>
        </div>
        <!-- end forms -->

        <!-- contacts -->
        <!-- <div class="card border-0">
            <div class="card-header px-0 fw-bold cursor-pointer">
                <app-toggle-chevron #contactsToggle>Contacts</app-toggle-chevron>
            </div>
            <div *ngIf="contactsToggle.open" class="card-body">

            </div>
        </div> -->
        <!-- end contacts -->

    </div>

</div>