<div *ngIf="elementQCSelections" class="card border-0">
  <div class="card-header d-flex justify-content-end align-items-center align-items-center px-1 py-0">
    <div class="d-flex align-items-center">
      <div class="d-flex mx-2">
        Count: {{ elementQCSelections.length | number:'1.0-0' }}
      </div>
      <div class="me-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="elementSearch.openDialog()">
          Search
        </button>
        <app-elements-search-dialog #elementSearch (searchedIdsChange)="onSearchInput($event)" />
      </div>
      <div>
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="onOptionsClicked($event)" [offSetRight]="true" />
      </div>

    </div>
  </div>

  <div class="card-body px-0">
    <div class="app-table-container" style="height: 80vh;">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th style="width: 2%;"></th>
            <th>Id</th>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>Description</th>
            <th>QC Fails</th>
            <th *ngIf="showPerformQCButton"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let elementQcSelection of elementQCSelections" class="app-cursor-pointer">
            <td (click)="onCheckElementQC(elementQcSelection)"><i class="bi bi-arrow-right-short"></i></td>
            <td (click)="onCheckElementQC(elementQcSelection)">{{ elementQcSelection.element.id }}</td>
            <td (click)="onCheckElementQC(elementQcSelection)">{{ elementQcSelection.element.abbreviation }}</td>
            <td (click)="onCheckElementQC(elementQcSelection)">{{ elementQcSelection.element.name }}</td>
            <td (click)="onCheckElementQC(elementQcSelection)">{{ elementQcSelection.element.description }}</td>
            <td (click)="onCheckElementQC(elementQcSelection)">{{ elementQcSelection.qcFails }}</td>
            <td *ngIf="showPerformQCButton">
              <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="dlgPerformQCInput.openDialog(elementQcSelection.element.id, elementQcSelection.element.name)">
                Perform QC
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-perform-qc-input-dialog #dlgPerformQCInput (ok)="onPerformQC($event)" />
</div>