<div class="card border-0">
  <!-- tab header -->
  <div class="card-header d-flex justify-content-between align-items-end px-1">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button class="nav-link active" [class.active]="activeTab === 'table'" (click)="onTabClick('table')">
          Table
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'geomap'" (click)="onTabClick('geomap')">
          Geo Map
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="activeTab === 'treemap'" (click)="onTabClick('treemap')">
          Tree Map
        </button>
      </li>
    </ul>
    <div class="d-flex align-items-end">
      <div>
        <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm"
          (click)="dlgAddStation.showDialog()">
          Add
        </button>
        <app-edit-station-dialog #dlgAddStation />
      </div>
      <div>
        <button *ngIf="isSystemAdmin" type="button" class="btn btn-outline-secondary btn-sm ms-2"
          (click)="dlgImportStations.showDialog()">
          Import
        </button>
        <app-import-stations-dialog #dlgImportStations />
      </div>
      <div *ngIf="activeTab !== 'treemap'" class="ms-2">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="stationSearch.showDialog(searchedIds)">
          Search
        </button>
        <app-stations-search-dialog #stationSearch (searchedIdsChange)="onSearchInput($event)" />
      </div>
      <div class="ms-2">
        <app-drop-down-button [buttonText]="'Options'" [dropDownItems]="dropDownItems"
          (dropDownOptionClick)="$event === 'Download'? stnDownloadLink.click(): onOptionsClick($event)"
          [offSetRight]="true" />

        <!-- TODO. find a way of doing this through the drop down in future -->
        <a [hidden]="true" #stnDownloadLink [href]="downloadLink"></a>

      </div>
      <div *ngIf="stations" class="d-flex mx-2 app-cursor-pointer" [class.text-success]="searchedIds.length > 0"
        (click)="onSearchInput([])">
        [{{ stations.length | number:'1.0-0' }}]
      </div>
    </div>
  </div>

  <!-- selected tab contents -->
  <div class="card-body p-0">
    <app-view-stations-table *ngIf="activeTab === 'table'" [stations]="stations" />
    <app-view-stations-geo-map *ngIf="activeTab === 'geomap'" [stations]="stations" />
    <app-view-stations-tree-map *ngIf="activeTab === 'treemap'" />
  </div>
</div>