<div class="card border-0">
    <!-- title -->
    <div class="card-title fw-bold d-flex justify-content-between">
        Quality control
    </div>

    <!-- QC status -->
    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #QCstatusToggle [open]="true">View QC status</app-toggle-chevron>
        </div>
        <div *ngIf="QCstatusToggle.open" class="card-body px-0">

        </div>
    </div>

    <!-- Perform QC -->
    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #PerformQCToggle>Perform QC Tests</app-toggle-chevron>
        </div>
        <div *ngIf="PerformQCToggle.open" class="card-body px-0">

        </div>
    </div>

    <!-- Edit Data QC -->
    <div class="card border-0">
        <div class="card-header px-0 fw-bold">
            <app-toggle-chevron #editDataQCToggle>View/Edit Data with QC Issues</app-toggle-chevron>
        </div>
        <div *ngIf="editDataQCToggle.open" class="card-body px-0">
            <!-- <app-edit-qc-data /> -->
        </div>
    </div>

</div>