<div class="card border-0">
  <div class="card-header d-flex justify-content-between px-1 py-0 align-items-center">
    <div class="fw-bold">Showing Stations</div>
    <div class="mb-1">
      <button type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="onSearch()">
        Search
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="dlgEdit.openDialog()">New</button>
      <app-station-characteristics-edit-dialog #dlgEdit (ok)="loadStations()" />
    </div>
  </div>

  <div class="card-body px-0">
    <app-table-view [clickable]="true" [columnsData]="[ 
      {id: 'id', name: 'Id'},
       {id: 'name', name: 'Name'},
       {id: 'stationObsProcessingMethodName', name: 'Method'},
       {id: 'stationObsEnvironmentName', name: 'Environment'},
       {id: 'stationObsFocusName', name: 'Focus'} ]" [rowsData]="stations"
      (rowDataClicked)="onEditStation($event)"></app-table-view>
  </div>

</div>