<app-dialog [(open)]="open" [title]="title" [okButtonLabel]="'Save'" [cancelButtonLabel]="'Cancel'"
    (okClick)="onOkCancelClick()">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-secondary me-1" (click)="onDeleteAll()">Delete All</button>
    </div>

    <table *ngIf="monthLimits" class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Lower Limit</th>
                <th>Upper Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let limit of monthLimits">
                <td>{{ getMonthName(limit.monthId) }}</td>
                <td>
                    <div class="form-control-max-w-sm">
                        <app-number-input [(value)]="limit.lowerLimit"></app-number-input>
                    </div>
                </td>
                <td>
                    <div class="form-control-max-w-sm">
                        <app-number-input [(value)]="limit.upperLimit"></app-number-input>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</app-dialog>