<app-dialog [(open)]="open" [title]="'Set Monthly Limits'" [okButtonLabel]="'Save'" (okClick)="onOkClick()">

    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Lower Limit</th>
                <th>Upper Limit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let month of months"  class="cursor-pointer">
                <td>{{ month.monthName }}</td>
                <td><app-number-input [(value)]="month.lowerLimit"></app-number-input></td>
                <td> <app-number-input [(value)]="month.upperLimit"></app-number-input></td>
            </tr>
        </tbody>
    </table>

</app-dialog>